# cached dependencies
node_modules/
provisioning/packer/packer_cache

# Build output directories
target/
provisioning/packer/artefacts

# Secrets
.env
provisioning/packer/secrets.json

# Runtime files
geoserver/data/gwc/tmp
geoserver/data/logs/geoserver.log
geoserver/data/legendsamples
/src/main/webapp/static/dist
