<!DOCTYPE html>
<html lang="en">
    <head th:include="endpoint_manager_fragments/header :: ${debug} ? 'debug_layout' : 'layout'">       
    </head>
    <body>
        <div id="wrapper">
            <div th:include="fragments/nav :: layout"></div>
            <div class="container">                
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" style="padding-bottom:0px">
                        <form class="form-inline" id="endpoint-manager-searchform">
                            <div class="form-group">
                                <label for="endpoint-manager-search" class="control-label">Search endpoints</label>
                                <select class="form-control" id="endpoint-manager-search" placeholder="Select endpoint"></select>
                            </div>
                            <button id="endpoint-manager-btn-create" type="button" class="btn btn-primary" 
                                data-toggle="tooltip" data-placement="top" title="create a new endpoint">New endpoint</button>
                        </form>    
                    </div>
                    <div class="panel-body">                  
                        <form id="endpoint-manager-update-form" class="form-horizontal">
                            <input type="hidden" id="endpoint-manager-id" value="-1"></input>
                            <input type="hidden" id="endpoint-manager-coast_layers" value=""></input>
                            <input type="hidden" id="endpoint-manager-graticule_layer" value=""></input>
                            <input type="hidden" id="endpoint-manager-low_bandwidth" value=""></input>
                            <div class="form-group">
                                <label for="endpoint-manager-name" class="col-md-2 control-label">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="endpoint-manager-name" placeholder="Endpoint name (required)" required="required"
                                        data-toggle="tooltip" data-placement="left" title="Human-friendly name for this endpoint"></input>                        
                                </div>                  
                            </div>
                            <div class="form-group">
                                <label for="endpoint-manager-url" class="col-md-2 control-label">URL</label>
                                <div class="col-md-10">
                                    <input type="url" class="form-control" id="endpoint-manager-url" placeholder="Endpoint URL (required)" required="required"
                                        data-toggle="tooltip" data-placement="left" title="Endpoint URL (may be load-balanced e.g. https://maps.bas.ac.uk/antarctic)"></input>
                                </div>
                            </div>     
                            <div class="form-group">
                                <label for="endpoint-manager-proxied_url" class="col-md-2 control-label">Proxied URL</label>
                                <div class="col-md-10">
                                    <input type="url" class="form-control" id="endpoint-manager-proxied_url" placeholder="URL for which above endpoint is a proxy"
                                       data-toggle="tooltip" data-placement="left" title="If the above proxies/cascades another URL, enter it here so text-based queries will work"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endpoint-manager-rest_endpoint" class="col-md-2 control-label">REST URL</label>
                                <div class="col-md-10">
                                    <input type="url" class="form-control" id="endpoint-manager-rest_endpoint" placeholder="REST endpoint URL"
                                       data-toggle="tooltip" data-placement="left" title="Geoserver REST endpoint, if appropriate"></input>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="endpoint-manager-url_aliases" class="col-md-2 control-label">Aliases</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="endpoint-manager-url_aliases"
                                       data-toggle="tooltip" data-placement="left" title="URL(s) formerly used for this endpoint, for backwards compatibility"></input>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="endpoint-manager-location" class="col-md-2 control-label">Location</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="endpoint-manager-location" required="required"
                                        data-toggle="tooltip" data-placement="left" title="Location of server, indicating bandwidth capabilities">
                                        <option value="" disabled="disabled">Please select</option>
                                        <option value="cambridge">Cambridge</option>
                                        <option value="rothera">Rothera</option>
                                        <option value="halley">Halley</option>
                                        <option value="kep">KEP</option>
                                        <option value="bi">Bird Island</option>
                                        <option value="signy">Signy</option>
                                        <option value="jcr">RRS James Clark Ross</option>
                                        <option value="es">RRS Ernest Shackleton</option>
                                    </select>
                                </div>
                            </div>                                         
                            <div class="form-group">
                                <label for="endpoint-manager-srs" class="col-md-2 control-label">Valid SRS</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="endpoint-manager-srs" required="required" 
                                        data-toggle="tooltip" data-placement="left" title="Supported projections">
                                        <option value="" disabled="disabled">Select all which apply</option>
                                        <option value="EPSG:3031">Antarctic Polar Stereographic (EPSG:3031)</option>
                                        <option value="EPSG:3995">Arctic Polar Stereographic (EPSG:3995)</option>
                                        <option value="EPSG:3762">South Georgia Lambert (EPSG:3762)</option>
                                        <option value="EPSG:102020">South Pole Lambert Azimuthal Equal Area (EPSG:102020)</option>
                                        <option value="EPSG:3857">Google Maps Spherical Mercator (EPSG:3857)</option>
                                        <option value="EPSG:4326">WGS84 lat/lon (EPSGL:4326)</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="endpoint-manager-has_wfs" value="has_wfs"
                                               data-toggle="tooltip" data-placement="left" title="Tick if endpoint exports a WFS service">                                
                                            </input> Exports a WFS service
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="endpoint-manager-is_user_service" value="is_user_service"
                                               data-toggle="tooltip" data-placement="left" title="Tick if endpoint provides access to the Geoserver 'user' workspace for uploads etc">                                
                                            </input> Exports the Geoserver 'user' workspace
                                        </label>
                                    </div>
                                </div>
                            </div>                              
                            <button id="endpoint-manager-btn-update" type="button" class="btn btn-primary" 
                                data-toggle="tooltip" data-placement="top" title="Save endpoint data">Save</button>
                            <button id="endpoint-manager-btn-update-ok" type="button" class="btn btn-success" style="display:none" 
                                data-toggle="tooltip" data-placement="top" title="Successfully saved">Success</button>
                            <button id="endpoint-manager-btn-update-fail" type="button" class="btn btn-danger" style="display:none"
                                data-toggle="tooltip" data-placement="top" title="Save failed">Failed</button>
                            <button id="endpoint-manager-btn-delete" type="button" class="btn btn-danger" 
                                data-toggle="tooltip" data-placement="top" title="Delete this endpoint">Delete</button>
                             <button id="endpoint-manager-btn-delete-ok" type="button" class="btn btn-success" style="display:none" 
                                data-toggle="tooltip" data-placement="top" title="Successfully saved">Success</button>
                            <button id="endpoint-manager-btn-delete-fail" type="button" class="btn btn-danger" style="display:none"
                                data-toggle="tooltip" data-placement="top" title="Save failed">Failed</button>
                            <button id="endpoint-manager-btn-cancel" type="button" class="btn btn-warning" 
                                data-toggle="tooltip" data-placement="top" title="Discard any changes and revert to the saved version">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery('[data-toggle="tooltip"]').tooltip({container: 'body'});
                /* For dynamic tooltips - http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements */
                jQuery("body").tooltip({selector: '[data-toggle="tooltip"]'});

                /* Logout behaviour */
                jQuery("#log-out-user").click(function (evt) {
                    evt.preventDefault();
                    jQuery("#logout-form").submit();
                }); 
                
                new magic.classes.endpoint_manager.EndpointManagerPanel();
                                
            });
            
        </script>  
        <!-- /#wrapper -->        
        <form id="logout-form" method="POST" th:action="@{/logout}"></form>
    </body>
</html>
