<!DOCTYPE html>
<html lang="en">
    <head th:include="console_fragments/header :: ${debug} ? 'debug_layout' : 'layout'">       
    </head>
    <body>
        <div id="wrapper">
            <div th:include="fragments/nav :: layout"></div>
            <div class="container" id="map-gallery"></div>            
        </div>
        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery('[data-toggle="tooltip"]').tooltip({container: 'body'});
                /* For dynamic tooltips - http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements */
                jQuery("body").tooltip({ selector: '[data-toggle="tooltip"]'});
               
                /* Login behaviour */
                jQuery("#log-in-user").click(function (evt) {
                    window.location = magic.config.paths.baseurl + "/restricted";
                });

                /* Logout behaviour */
                jQuery("#log-out-user").click(function (evt) {
                    evt.preventDefault();
                    jQuery("#logout-form").submit();
                });
                
                magic.runtime.webmap_panel = new magic.classes.console.WebMapPanel();
                                
            });
            
        </script>  
        <!-- /#wrapper -->        
        <form id="logout-form" method="POST" th:action="@{/logout}"></form>
    </body>
</html>
