<!DOCTYPE html>
<html lang="en">
    <head th:include="console_fragments/header :: ${debug} ? 'debug_layout' : 'layout'">       
    </head>
    <body>
        <div id="wrapper">
            <div th:include="fragments/nav :: layout(strap='MAGIC Web Console Home')"></div>
            <div class="container">                
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default" th:include="console_fragments/web_map_panel :: layout"></div>
                    <div class="panel panel-default" th:include="console_fragments/place_names_panel :: layout"></div>                           
                </div>
            </div>
        </div>
        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery('[data-toggle="tooltip"]').tooltip({container: 'body'});

                /* Logout behaviour */
                jQuery("#log-out-user").click(function (evt) {
                    evt.preventDefault();
                    jQuery("#logout-form").submit();
                });
                
                magic.runtime.webmap_panel = new magic.classes.console.WebMapPanel();
                magic.runtime.placenames_panel = new magic.classes.console.PlaceNamesPanel();
                                
            });
            
        </script>  
        <!-- /#wrapper -->        
        <form id="logout-form" method="POST" th:action="@{/logout}"></form>
    </body>
</html>
