<!DOCTYPE html>
<html lang="en">
    <head th:include="console_fragments/header :: ${debug} ? 'debug_layout' : 'layout'">        
    </head>
    <body>
        <div id="background"></div>
        <div id="wrapper">
            <div th:include="fragments/nav :: layout"></div>
            <div th:if="${not #lists.isEmpty(accessible_maps)}" class="container" id="map-gallery">
                <div th:each="index: ${#numbers.sequence(0, accessible_maps.size(), 4)}" th:with="rowsize = ${accessible_maps.size() - index >= 4} ? 4 : ${accessible_maps.size() - index}" class="row">
                    <div th:if="${rowsize} > 0" th:each="item : ${#numbers.sequence(0, rowsize - 1)}" th:with="tdata = ${accessible_maps[index + item]}" th:remove="tag">
                        <div class="col-md-3 col-sm-4 col-xs-6" th:attr="data-name=${tdata.name}">
                            <a th:href="@{'/home/' + ${tdata.name}}">                                    
                                <img th:id="'tn-' + ${tdata.name}" th:src="@{'/thumbnail/show/' + ${tdata.name}}" 
                                th:onerror="'this.src=\'' + @{'https://cdn.web.bas.ac.uk/magic/images/thumbnails/bas.jpg'} + '\''"
                                data-toggle="tooltip" data-placement="bottom" th:title="${tdata.description}" 
                                width="200" height="150"></img>
                            </a>
                            <span style="display:block" th:text="${tdata.title}"></span>
                            <span style="display:block; margin-bottom: 5px">
                                <a th:if="${tdata.w} == 'yes'" th:href="@{'/creator?name=' + ${tdata.name}}"
                                    title="Edit map in new tab. Set a map thumbnail by drag/drop of an image file above" target="_blank">
                                    <i style="font-size: 20px; color: #286090; margin-right: 5px" class="fa fa-pencil"></i>
                                </a> 
                                <a th:if="${tdata.w} == 'yes'" class="map-remove-thumbnail-button" href="Javascript:void(0)" title="Remove map thumbnail">
                                    <i style="font-size: 20px; color: #d9534f; margin-right: 5px" class="fa fa-file-image-o"></i>
                                </a>
                                <a th:if="${tdata.d} == 'yes'" class="map-delete-button" href="Javascript:void(0)" title="Delete this map from the gallery">
                                    <i style="font-size: 20px; color: #d9534f" class="fa fa-trash"></i>
                                </a> 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(accessible_maps)}" class="container" id="map-gallery">
                <p>There are no maps you are currently authorised to view</p>
            </div>
            <div class="container" style="margin-top: 10px" th:switch="${#httpServletRequest.remoteUser}">
                <button id="console-log-in-create" th:case="null" type="button" class="btn btn-primary"
                 data-toggle="tooltip" data-placement="right" title="Go to login page to create or edit maps">Log in</button>
                <div th:case="*">
                    <button th:if="${issuperuser} == 'yes'" id="console-create-new-map"  type="button" class="btn btn-primary"
                     data-toggle="tooltip" data-placement="top" title="Open map creation interface (new tab)">Create a new map</button>
                    <button th:if="${isadmin} == 'yes'" id="console-manage-endpoints"  type="button" class="btn btn-primary"
                     data-toggle="tooltip" data-placement="top" title="Manage WMS endpoints known to this server (new tab)">WMS endpoint manager</button>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var bg = [[${background}]];
            var debug = [[${debug}]];
            /*]]>*/
        </script>
        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery('[data-toggle="tooltip"]').tooltip({container: 'body', trigger: "hover"});
                /* For dynamic tooltips - http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements */
                jQuery("body").tooltip({selector: '[data-toggle="tooltip"]', trigger: "hover"});
                
                /* Long standing issue in Bootstrap, introduced in BAS CDN version - https://github.com/twbs/bootstrap/issues/16732
                 * See answer by julesongithub, commented on 16 Dec 2015 */
                jQuery("body").on("hidden.bs.popover", function (e) {
                    jQuery(e.target).data("bs.popover").inState.click = false;
                });
               
                /* Login behaviour */
                jQuery("#log-in-user").click(function (evt) {
                    evt.preventDefault();
                    window.location = magic.config.paths.baseurl + "/login";                   
                });
                jQuery("#console-log-in-create").click(function(evt) {
                    window.location = magic.config.paths.baseurl + "/login";
                });

                /* Logout behaviour */
                jQuery("#log-out-user").click(function (evt) {
                    evt.preventDefault();
                    jQuery("#logout-form").submit();
                });
                
                /* Create a new map */
                jQuery("#console-create-new-map").click(function(evt) {
                    window.open(magic.config.paths.baseurl + "/creator" + (debug ? "d" : ""), "_blank");
                });
                
                /* Manage endpoints */
                jQuery("#console-manage-endpoints").click(function(evt) {
                    magic.modules.Common.showAlertModal("Not yet implemented!", "error");
                    window.open(magic.config.paths.baseurl + "/endpoint_manager" + (debug ? "d" : ""), "_blank");
                });
                
                /* Background colour */
                jQuery("body").css("background-color", bg);
                
                new magic.classes.console.WebMapPanel();
                                
            });
            
        </script>  
        <!-- /#wrapper -->        
        <form id="logout-form" method="POST" th:action="@{/logout}"></form>
    </body>
</html>
