<!DOCTYPE html>
<html lang="en">
    <head th:include="publisher_fragments/header :: ${debug} ? 'debug_layout' : 'layout'">       
    </head>
    <body>
        <div id="wrapper">
            <div th:include="fragments/nav :: layout"></div>
            <div class="container">                
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default" th:include="publisher_fragments/file_publisher_panel :: layout"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            jQuery(document).ready(function () {

                jQuery('[data-toggle="tooltip"]').tooltip({container: 'body'});
                
                /* Login behaviour */
                jQuery("#log-in-user").click(function (evt) {
                    window.location = magic.config.paths.baseurl + "/publisher";
                });

                /* Logout behaviour */
                jQuery("#log-out-user").click(function (evt) {
                    evt.preventDefault();
                    jQuery("#logout-form").submit();
                });
                
                magic.runtime.file_publisher_panel = new magic.classes.publisher.FilePublisherPanel();
                                
            });
            
        </script>  
        <!-- /#wrapper -->        
        <form id="logout-form" method="POST" th:action="@{/logout}"></form>
    </body>
</html>
