# {{ ansible_managed }}
# Spring Boot properties
# Note: this appears not to work - see http://stackoverflow.com/questions/28103852/spring-boot-session-timeout among others
server.session-timeout=60
server.tomcat.access-log-enabled=true
# Active profile (not currently used)
#spring.profiles.active=opsgis
# Allow Thymeleaf templates to be reloaded at dev time
spring.thymeleaf.cache=false
# Spring Security logging level
#logging.level.org.springframework.security: DEBUG
# User data in 'webmap' schema of 'magic' database
# Live (manually provisioned servers)
#datasource.magic.driverClassName=org.postgresql.Driver
#datasource.magic.url=jdbc:postgresql://localhost:5432/magic
#datasource.magic.username=add
#datasource.magic.password=a44Pg#!!
#datasource.magic.maxConnections=0
# Live (automatically provisioned servers)
datasource.magic.driverClassName=org.postgresql.Driver
datasource.magic.url=jdbc:postgresql://localhost:5432/webmap_engine
datasource.magic.username=webmap
datasource.magic.password={{ app_database_user_password }}
datasource.magic.maxConnections=0
