<div th:fragment="assets" th:remove="tag">   
    <script th:src="@{${cdn} + '/libs/jquery/3.3.1/jquery-3.3.1.min.js'}"></script>        
    <script th:src="@{${cdn} + '/libs/bootstrap/3.3.7/js/bootstrap-3.3.7.min.js'}"></script>
    <script th:src="@{${cdn} + '/magic/js/bootbox/4.4.0/bootbox.min.js'}"></script>  
    <script th:src="@{${cdn} + '/magic/js/bootstrap-tagsinput/0.6.1/bootstrap-tagsinput.min.js'}"></script>
    <script th:src="@{${cdn} + '/magic/js/bootstrap-select/1.12.4/bootstrap-select.min.js'}"></script>
</div>