<!DOCTYPE html>
<html lang="en">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="WMS Endpoint Management Interface"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <title>WMS Endpoint Management Interface</title>
        <link th:href="@{~/static/buildcss/allcss_endpoint_manager.css}" rel="stylesheet"></link>       
        <script th:src="@{~/static/buildjs/alljs_endpoint_manager.js}"></script>
    </head>   
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="WMS Endpoint Management Interface"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>  
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <title>WMS Endpoint Management Interface</title>
        <link th:href="@{~/static/css/bootstrap.min.css}" rel="stylesheet"></link>
        <link th:href="@{~/static/css/bootstrap-tagsinput.min.css}" rel="stylesheet"></link>
        <link th:href="@{~/static/css/bootstrap-select.min.css}" rel="stylesheet"></link>
        <link th:href="@{~/static/css/nav.css}" rel="stylesheet"></link>
        <link th:href="@{~/static/css/endpoint_manager.css}" rel="stylesheet"></link>
        <link th:href="@{~/static/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <script th:src="@{~/static/js/jquery.min.js}"></script>        
        <script th:src="@{~/static/js/bootstrap.min.js}"></script>
        <script th:src="@{~/static/js/bootbox.min.js}"></script>  
        <script th:src="@{~/static/js/bootstrap-tagsinput.min.js}"></script>
        <script th:src="@{~/static/js/bootstrap-select.min.js}"></script>
        <script th:src="@{~/static/js/endpoint_manager/init.js}"></script>
        <script th:src="@{~/static/js/modules/Common.js}"></script> 
        <script th:src="@{~/static/js/base/CustomFormInput.js}"></script>
        <script th:src="@{~/static/js/components/forms/TagsInput.js}"></script>
        <script th:src="@{~/static/js/components/forms/MultiSelectInput.js}"></script>
        <script th:src="@{~/static/js/endpoint_manager/components/EndpointManagerPanel.js}"></script>
    </head>
</html>
