<!DOCTYPE html>
<html lang="en">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="WMS Endpoint Management Interface"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <title>WMS Endpoint Management Interface</title>
        <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
        <link th:href="@{'/static/buildcss/allcss.endpoint_manager.' + ${profile} + '.css'}" rel="stylesheet"></link>            
        <script th:src="@{'/static/buildjs/alljs.endpoint_manager.' + ${profile} + '.js'}"></script>       
    </head>   
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="WMS Endpoint Management Interface"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>  
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{~/bas.ico}"></link>
        <title>WMS Endpoint Management Interface</title>
        <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
        <link th:href="@{https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap-tagsinput/0.6.1/bootstrap-tagsinput.min.css}" rel="stylesheet"></link>
        <link th:href="@{https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap-select/1.12.4/bootstrap-select.min.css}" rel="stylesheet"></link>
        <link th:href="@{https://cdn.web.bas.ac.uk/webmap-engine/webmap-engine/1.0.0/css/font-awesome/4.4.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
        <link th:href="@{~/static/css/nav.css}" rel="stylesheet"></link>
        <link th:href="@{~/static/css/endpoint_manager.css}" rel="stylesheet"></link>        
        <script th:src="@{https://cdn.web.bas.ac.uk/libs/jquery/3.3.1/jquery-3.3.1.min.js}"></script>        
        <script th:src="@{https://cdn.web.bas.ac.uk/libs/bootstrap/3.3.7/js/bootstrap-3.3.7.min.js}"></script>
        <script th:src="@{https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/bootbox/4.4.0/bootbox.min.js}"></script>  
        <script th:src="@{https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/bootstrap-tagsinput/0.6.1/bootstrap-tagsinput.min.js}"></script>
        <script th:src="@{https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/bootstrap-select/1.12.4/bootstrap-select.min.js}"></script>
        <script th:src="@{~/static/js/endpoint_manager/init.js}"></script>
        <script th:src="@{~/static/js/modules/Common.js}"></script> 
        <script th:src="@{~/static/js/base/CustomFormInput.js}"></script>
        <script th:src="@{~/static/js/components/forms/TagsInput.js}"></script>
        <script th:src="@{~/static/js/components/forms/MultiSelectInput.js}"></script>
        <script th:src="@{~/static/js/endpoint_manager/components/EndpointManagerPanel.js}"></script>
    </head>
</html>
