a.layer-tool {
    color: #ffffff;
}

button.close {
    color: #ffffff;
}

span.non-clickable {
    color: #ffffff;
}

button.close:hover {
    color: #a0a0a0;
}

#user-menu>.dropdown-menu>li>a {
    color: #202020;
}

.layer-options-dd-menu>li>a {
    color: #ffffff;
}
