a.layer-tool {
    color: #ffffff;
}

button.close {
    color: #ffffff;
}

button.close:hover {
    color: #a0a0a0;
}

span.non-clickable {
    color: #ffffff;
}

#user-menu>.dropdown-menu>li>a {
    color: #202020;
}

.layer-options-dd-menu>li>a {
    color: #ffffff;
}

.layer-list-group>li>table {
    background-color: #33383e;
}

button[id^="layer-info-"] {
    background-color: #33383e;
}

button[id^="layer-info-"]:hover {
    background-color: #33383e;
}