/* Mimic table appearance */
div.table {
    display: table;
}
div.table .file-row {
    display: table-row;
}
div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}
div.table .file-row:nth-child(odd) {
    background: #e0e0e0;
}

#publish-files-dz {
    height: 100px;
    min-height: 100px; 
    height: auto !important; 
    border: 3px #909090 dashed; 
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* The total progress gets shown by event listeners */
#publish-total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

#publish-previews {
    margin-bottom: 5px !important;
}

/* Hide the progress bar when finished */
#publish-previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the start and cancel buttons and show the delete button */
#publish-previews .file-row.dz-success .publish-start,
#publish-previews .file-row.dz-success .publish-cancel {
    display: none;
}
#publish-previews .file-row.dz-success .publish-delete {
    display: block;
}