/* Map creator CSS */

/* Wizard tabs */
.map-creator-control-xl {
    width: 500px !important;
}

.map-creator-control-lg {
    width: 400px !important;
}

.map-creator-control-sm {
    width: 300px !important;
}
