/* Map creator common CSS */

/* OL control custom styles */
.custom-mouse-position {
    right: 8px;
    bottom: 8px;
    position: absolute;
}

.custom-scale-line-top {
    background: transparent;
    bottom: 26px;
    left: 10px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.custom-scale-line-top-inner {
    border: 1px solid #3a3f44;
    border-top: none;
    color: #3a3f44;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.custom-scale-line-bottom {
    background: transparent;
    bottom: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.custom-scale-line-bottom-inner {
    border: 1px solid #3a3f44;
    border-bottom: none;
    border-top: none;
    color: #3a3f44;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.ol-zoomslider {
    top: 8px;
    left: auto;
    right: 8px;
    background-color: rgba(52,122,182,0.2);
    width: 200px;
    height: 15px;
    padding: 0;
    box-shadow: 0 0 5px rgb(52,122,182);
    border-radius: 20px;
}

.ol-zoomslider:hover {
    background-color: rgba(52,122,182,0.3);
}

.ol-zoomslider-thumb {
    height: 15px !important;
    width: 15px !important;
    margin: 0 !important;
    filter: none !important;
    background-color: rgba(52,122,182,0.6) !important;
    border-radius: 20px !important;
}
a.ol-zoomslider-handle:hover {
    background-color: rgba(52,122,182,0.7);
}

img.applogo {
    float: left; 
    margin-left: 5px
}

/* Allow pretty much arbitrary width popovers - could be dodgy! */
.popover {
	max-width: 1000px;
    z-index: 4000;
	width: auto;
}

div[class$="-popover-content"] {
    width: 400px;
}

/* Make bootbox dialogs appear above other Bootstrap modals */
/* http://stackoverflow.com/questions/31187708/show-bootbox-over-modal-dialog */
.bootbox.modal {
    z-index: 9999 !important;
}

.modal {
    z-index: 9000;
}

div[class$="attr-editor-popover-content"] {
    width: 500px;
}

input.attr-editor-input {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

select.attr-editor-input {
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 26px;
}