/* Map creator CSS */

/* Wizard tabs */
.map-creator-control-xl {
    width: 500px !important;
}

.map-creator-control-lg {
    width: 400px !important;
}

.map-creator-control-sm {
    width: 300px !important;
}

/* Sortable list layertree */
#map-layers-layertree {
    width: 90%;
}

#map-layers-layertree li {
    padding-left: 50px !important;
    padding-bottom: 5px !important;
}