/* Endpoint Manager CSS */

img.applogo {
    float: left; 
    margin-left: 5px
}

/* Allow pretty much arbitrary width popovers - could be dodgy! */
.popover {
	max-width: 1000px;
    z-index: 4000;
	width: auto;
}

div[class$="-popover-content"] {
    width: 400px;
}

/* Make bootbox dialogs appear above other Bootstrap modals */
/* http://stackoverflow.com/questions/31187708/show-bootbox-over-modal-dialog */
.bootbox.modal {
    z-index: 9999 !important;
}

.modal {
    z-index: 9000;
}