/* Endpoint Manager CSS */

img.applogo {
    float: left; 
    margin-left: 5px
}

/* Make bootbox dialogs appear above other Bootstrap modals */
/* http://stackoverflow.com/questions/31187708/show-bootbox-over-modal-dialog */
.bootbox.modal {
    z-index: 9999 !important;
}

.modal {
    z-index: 9000;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

/* Search form styles */
@media (min-width: 992px) {
    .searchform-label {
        padding-left: 60px;
        padding-right: 0px;
        margin-bottom: 0px;
        margin-top: 5px; 
    }
    .searchform-box {
        padding-right: 0px; 
    }
    .searchform-newbtn {
        padding-left: 0px;
    }
}

span.label {
    font-size: 100% !important;
}