<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="tab1">
        <div class="well well-lg">
            <h3>Configure the basic map metadata</h3>
            Supply the basic data about your map.  The favicon is the small icon displayed in browser tabs when the map site is open.<br />
            The endpoint URL of your map will be <span id="map-home-url">http://&lt;servername&gt;/home/&lt;workspace&gt;</span>
        </div>
        <form>
            <div class="form-group">
                <label for="creator-map-title">Map title</label>
                <input type="text" class="form-control map-creator-control" id="creator-map-title" placeholder="Map strapline" required="required"></input>
            </div>
            <div class="form-group">
                <label for="creator-map-version">Version</label>
                <input type="text" class="form-control map-creator-control" id="creator-map-version" placeholder="1.0"></input>
            </div>
            <div class="form-group">
                <label for="creator-map-icon">Upload map icon (defaults to BAS)</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input class="map-creator-control" type="file" id="creator-map-icon" name="creator-map-icon"></input>
                        </span>
                    </span>
                    <input type="text" class="form-control map-creator-control" readonly="readonly"></input>
                </div>
            </div>            
            <div class="form-group">
                <label for="creator-map-favicon">Upload map favicon (defaults to BAS)</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input class="map-creator-control" type="file" id="creator-map-favicon" name="creator-map-favicon"></input>
                        </span>
                    </span>
                    <input type="text" class="form-control map-creator-control" readonly="readonly"></input>
                </div>
            </div>            
            <div class="form-group">
                <label for="creator-map-wms">WMS service</label>
                <input type="text" class="form-control map-creator-control" id="creator-map-wms" placeholder="local Geoserver"></input>
            </div>
            <div class="form-group">
                <label for="creator-map-workspace">WMS workspace</label>
                <input type="text" class="form-control map-creator-control" id="creator-map-workspace" placeholder="name of data workspace" required="required"></input>
            </div>
            <div class="form-group">
                <label for="creator-map-projection">Map projection (CRS)</label>
                <select id="creator-map-projection" class="form-control map-creator-control">
                    <option value="3031">Antarctic Polar Stereographic (EPSG:3031)</option>
                    <option value="3995">Arctic Polar Stereographic (EPSG:3995)</option>
                    <option value="3762">South Georgia Lambert Conformal Conic (EPSG:3762)</option>
                    <option value="4326">WGS84 (Lat/Long EPSG:4326)</option>
                </select>
            </div>            
        </form>        
    </body>
    <body th:fragment="tab2">
        <div class="well well-lg">
            <h3>Configure which specialised controls the map requires</h3>
            The map will always have zoom to maximum extent, zoom in/out, zoom by box drag and get feature info controls.<br />
            Below are a number of additional ones the map may make use of.
        </div>
        <form>
            <h4 class="form-control-static">The following controls will appear in the button ribbon in the map area:</h4>
            <div class="checkbox">
                <label>
                    <input id="creator-map-control-drz" type="checkbox" value="on"></input>
                    Dynamic rotation of the map by dragging
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="creator-map-control-fs" type="checkbox" value="on"></input>
                    Full-screen map capability
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="creator-map-control-height" type="checkbox" value="on"></input>
                    Measurement of DEM height by clicking on the map
                </label>
            </div>
            <h4 class="form-control-static">The following controls use pop-ups and will appear in the top navigation bar:</h4>
            <div class="checkbox">
                <label>
                    <input id="creator-map-control-geosearch" type="checkbox" value="on"></input>
                    Search gazetteer(s) and pinpoint results on the map
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="creator-map-control-measurement" type="checkbox" value="on"></input>
                    Measurement of distances and areas
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="creator-map-control-download" type="checkbox" value="on"></input>
                    Download of data
                </label>
            </div>
        </form>
    </body>
    <body th:fragment="tab3">
        <div class="well well-lg">
            <h3>Configure the map layer structure</h3>            
        </div> 
        <a href="static/html/gs_iframe.html" target="_blank">Go to Geoserver (opens in a new tab)</a>
    </body>
    <body th:fragment="tab4">
        <div class="well well-lg">
            <h3>TO DO 5</h3>
        </div>       
    </body>
</html>
