<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <form id="map-layers-layer-form" class="form-horizontal">
            <input type="hidden" id="map-layers-layer-id" name="map-layers-layer-id"></input>
            <div class="form-group">
                <label for="map-layers-layer-name" class="col-md-3 control-label"><span class="label label-danger">Layer name</span></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="map-layers-layer-name" name="map-layers-layer-name" placeholder="Layer name" 
                           data-toggle="tooltip" data-placement="left" title="Letters, numbers, spaces and -_(), allowed" pattern="^[A-Za-z0-9_ (),-]+$" required="required">                                   
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label for="map-layers-layer-source_type" class="col-md-3 control-label"><span class="label label-danger">Source type</span></label>
                <div class="col-md-9">
                    <select class="form-control" id="map-layers-layer-source_type" name="map-layers-layer-source_type"
                           data-toggle="tooltip" data-placement="left" title="Type of data source" required="required">
                        <option value="" selected="selected">Please select</option>
                        <option value="wms">WMS service</option>
                        <option value="esritile">ESRI Tile service</option>
                        <option value="geojson">GeoJSON feed (including WFS)</option>
                        <option value="esrijson">ESRI JSON feed</option>
                        <option value="gpx">GPX waypoints or tracks</option>
                        <option value="kml">KML (Google Earth) file</option>
                    </select>
                </div>
            </div>
            <div id="map-layers-layer-source" class="hidden">               
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="map-layers-layer-is_interactive" name="map-layers-layer-is_interactive" value="interactive"
                                   data-toggle="tooltip" data-placement="left" title="Tick if this layer should display a pop-up of selected attributes on the map">                                
                            </input> Layer should display attribute pop-ups
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="map-layers-layer-is_filterable" name="map-layers-layer-is_filterable" value="filterable"
                                   data-toggle="tooltip" data-placement="left" title="Tick if this layer should be filterable by selected attribute values">                                
                            </input> Layer is filterable by attribute values
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group attribute-editor hidden">
                <div class="col-md-offset-3 col-md-12">
                    <button id="map-layers-layer-attribute-edit" data-trigger="manual" data-container="body" data-toggle="popover" data-placement="bottom"
                        type="button" role="button" class="btn btn-md btn-primary">
                        <span class="fa fa-pencil" data-toggle="tooltip" 
                            data-container="body" data-placement="left" title="Specify the attributes to show in information pop-ups">
                        </span>&nbsp;Specify attributes
                    </button>
                </div>
            </div>
            <!-- visibility, min_scale, max_scale, opacity -->
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="map-layers-layer-is_visible" name="map-layers-layer-is_visible" value="expanded"
                                   data-toggle="tooltip" data-placement="left" title="Tick if you want layer visible in initial map view">                                
                            </input> Layer is visible
                        </label>
                    </div>
                </div>
            </div>            
            <div class="form-group">
                <label class="col-md-3 control-label" for="map-layers-layer-min_scale">
                    Vis min scale
                </label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="map-layers-layer-min_scale" name="map-layers-layer-min_scale" 
                           placeholder="Visible at minimum scale denominator" 
                           min="1000" max="100000000" step="1000"
                           data-toggle="tooltip" data-placement="left" title="Minimum scale denominator layer should be visible at (defaults to maximum zoom scale of map)">                                   
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="map-layers-layer-max_scale">
                    Vis max scale
                </label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="map-layers-layer-max_scale" name="map-layers-layer-max_scale" 
                           placeholder="Visible at maximum scale denominator" 
                           min="1000" max="100000000" step="1000"
                           data-toggle="tooltip" data-placement="left" title="Maximum scale denominator layer should be visible at (defaults to minimum zoom scale of map)">                                   
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label for="map-layers-layer-opacity" class="col-md-3 control-label">Opacity</label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="map-layers-layer-opacity" name="map-layers-layer-opacity" 
                           placeholder="Layer opacity (0->1)"
                           min="0" max="1" step="0.1"
                           data-toggle="tooltip" data-placement="left" title="Layer opacity (0.0 = transparent, 1.0 = opaque)">                                   
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label for="map-layers-layer-legend_graphic" class="col-md-3 control-label">Legend image</label>
                <div class="col-md-9">
                    <input type="url" class="form-control" id="map-layers-layer-legend_graphic" name="map-layers-layer-legend_graphic" placeholder="URL of legend image if required" 
                           data-toggle="tooltip" data-placement="left" title="Custom URL for a legend image">                                   
                    </input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="map-layers-layer-refresh_rate">
                    Refresh rate
                </label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="map-layers-layer-refresh_rate" name="map-layers-layer-refresh_rate"
                       placeholder="Minutes before data is auto-refreshed" 
                       min="0" max="300" step="5"
                       data-toggle="tooltip" data-placement="left" title="Elapsed minutes before layer data is auto-refreshed, useful for dynamic data">                                   
                    </input>
                </div>
            </div>                                       
            <button id="map-layers-layer-save" type="button" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Save</button>
            <button id="map-layers-layer-cancel" type="button" class="btn btn-danger btn-primary"><span class="fa fa-times-circle"></span> Cancel</button>
        </form>
    </body>
</html>
