<!DOCTYPE html>
<html lang="en">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <title th:text="${pagetitle}"></title>
        <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
        <link th:href="@{'/static/buildcss/allcss.creator.' + ${profile} + '.css'}" rel="stylesheet"></link> 
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->       
        <script th:src="@{'/static/buildjs/alljs.creator.' + ${profile} + '.js'}"></script>
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <title th:text="${pagetitle}"></title>
        <link href="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/openlayers/4.2.0/ol.css" rel="stylesheet"></link>
        <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
        <link href="https://cdn.web.bas.ac.uk/webmap-engine/webmap-engine/1.0.0/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/creator_common.css" rel="stylesheet"></link>
        <link href="/static/css/creator.css" rel="stylesheet"></link>        

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/xml-to-json/1.3.0/xmlToJSON.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/openlayers/4.2.0/ol.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/tv4/1.0.0/tv4.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/vector/1.0.0/vector.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/2.4.3/proj4.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3031/2005-04-14/3031.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3762/2007-07-06/3762.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3995/2008-09-19/3995.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/102020/2000-01-01/102020.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/bootstrap/3.3.7/js/bootstrap-3.3.7.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/bootbox/4.4.0/bootbox.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/jquery-bootstrap-wizard/1.0.0/jquery.bootstrap.wizard.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/jquery-sortable-lists/1.4.0/jquery-sortable-lists.min.js"></script>
        <script src="/static/js/creator/init.js"></script>
        <script src="/static/js/base/PopupForm.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/modules/VectorStyles.js"></script>
        <script src="/static/js/creator/base/DataSourceForm.js"></script>
        <script src="/static/js/components/forms/StylerPopup.js"></script>
        <script src="/static/js/creator/forms/WmsFeatureLinkedMenus.js"></script>
        <script src="/static/js/creator/forms/AttributeEditorPopup.js"></script>
        <script src="/static/js/creator/forms/LayerEditor.js"></script>
        <script src="/static/js/creator/forms/LayerGroupEditor.js"></script>
        <script src="/static/js/creator/forms/WmsSourceEditor.js"></script>
        <script src="/static/js/creator/forms/EsriTileSourceEditor.js"></script>
        <script src="/static/js/creator/forms/GeoJsonSourceEditor.js"></script>
        <script src="/static/js/creator/forms/EsriJsonSourceEditor.js"></script>
        <script src="/static/js/creator/forms/GpxSourceEditor.js"></script>
        <script src="/static/js/creator/forms/KmlSourceEditor.js"></script>
        <script src="/static/js/creator/components/LayerDictionary.js"></script>        
        <script src="/static/js/creator/components/MapRegionSelector.js"></script>
        <script src="/static/js/creator/components/MapMetadataForm.js"></script>
        <script src="/static/js/creator/components/MapLayerSelectorTree.js"></script>
        <script src="/static/js/creator/components/MapParameterSelector.js"></script>
        <script src="/static/js/creator/components/MapControlSelector.js"></script>
        <script src="/static/js/creator/components/AppContainer.js"></script>    
    </head>
</html>
