<!DOCTYPE html>
<html lang="en">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <title>MAGIC Web Map Creator</title>
        <link href="/static/buildcss/allcss_creator.css" rel="stylesheet"></link>        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->       
        <script src="/static/buildjs/alljs_creator.js"></script>        
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <title>MAGIC Web Map Creator</title>

        <link href="/static/css/ol.css" rel="stylesheet"></link>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"></link>
        <link href="/static/css/prettify.css" rel="stylesheet"></link>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/creator.css" rel="stylesheet"></link>
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/static/js/ol.min.js"></script>
        <script src="/static/js/ellipsoid/ellipsoid.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/tv4.min.js"></script>
        <script src="/static/js/vector.js"></script>
        <script src="/static/js/proj4.js"></script>
        <script src="/static/js/proj4defs/3031.js"></script>
        <script src="/static/js/proj4defs/3762.js"></script>
        <script src="/static/js/proj4defs/3995.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootbox.min.js"></script>
        <script src="/static/js/jquery.bootstrap.wizard.min.js"></script>
        <script src="/static/js/jquery-sortable-lists.min.js"></script>
        <script src="/static/js/prettify.js"></script>
        <script src="/static/js/init.js"></script>
        <script src="/static/js/creator/components/MapContext.js"></script>
        <script src="/static/js/creator/components/LayerDictionary.js"></script>
        <script src="/static/js/creator/components/LayerGroupUpdater.js"></script>
        <script src="/static/js/creator/components/LayerUpdater.js"></script>
        <script src="/static/js/creator/components/LayerAttributeMap.js"></script>
        <script src="/static/js/creator/components/LayerStyler.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/creator/modules/Data.js"></script>
        <script src="/static/js/creator/modules/Common.js"></script>
        <script src="/static/js/creator/modules/Tab1.js"></script>
        <script src="/static/js/creator/modules/Tab2.js"></script>
        <script src="/static/js/creator/modules/Tab3.js"></script>
        <script src="/static/js/creator/modules/Tab4.js"></script>        
    </head>
</html>
