<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="alert alert-info">
            Note that symbology entered here (including selection of a style key) is <strong>ignored</strong> for WMS layers - 
            these will always use styles defined by the WMS itself
        </div>
        <div class="panel panel-default" id="t2-layer-style-predefined">
            <div class="panel-heading">
                <h3 class="panel-title">Select a pre-defined style</h3>
            </div>
            <div class="panel-body">                    
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-predefined-key">
                        Identifier
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control map-creator-control-sm" id="t2-layer-style-predefined-key"                                           
                                data-toggle="tooltip" data-placement="left" title="Choose a predefined style by name" required="required">                             
                        </select>
                    </div>
                </div>                        
            </div>
        </div>
        <div class="panel panel-default" id="t2-layer-style-graphic">
            <div class="panel-heading">
                <h3 class="panel-title">Select graphic type (point layers only)</h3>
            </div>
            <div class="panel-body">                    
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-graphic-marker">
                        Marker
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control map-creator-control-sm" id="t2-layer-style-graphic-marker"                                           
                                data-toggle="tooltip" data-placement="left" title="Choose a marker type" required="required"> 
                            <option value="circle">Circle</option>
                            <option value="triangle">Triangle</option>
                            <option value="square">Square</option>
                            <option value="pentagon">Pentagon</option>
                            <option value="hexagon">Hexagon</option>
                            <option value="star">Star</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-graphic-radius">
                        Size (pixels)
                    </label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control map-creator-control-sm" id="t2-layer-style-graphic-radius" 
                               placeholder="Radius of graphic marker in pixels" 
                               min="3" max="20" step="0.2"
                               data-toggle="tooltip" data-placement="left" title="Radius of graphic marker in pixels, default 5" required="required">                                   
                        </input>
                    </div>
                </div>                            
            </div>
        </div>
        <div class="panel panel-default" id="t2-layer-style-stroke">
            <div class="panel-heading">
                <h3 class="panel-title">Outline (stroke) properties (all geometry types)</h3>
            </div>
            <div class="panel-body">                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-stroke-width">
                        Width (pixels)
                    </label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control map-creator-control-sm" id="t2-layer-style-stroke-width"
                               placeholder="Width of graphic outline in pixels" 
                               min="0.1" max="3" step="0.1"
                               data-toggle="tooltip" data-placement="left" title="Width of outline in pixels, default 1" required="required">                                   
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-stroke-color">
                        Colour
                    </label>
                    <div class="col-sm-9">
                        <input type="color" class="form-control map-creator-control-sm" id="t2-layer-style-stroke-color"                                           
                               data-toggle="tooltip" data-placement="left" title="Colour of the graphic outline, default black">                                   
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="t2-layer-style-stroke-opacity" class="col-sm-3 control-label">Opacity</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control map-creator-control-sm" id="t2-layer-style-stroke-opacity"
                               placeholder="Outline opacity (0->1)"
                               min="0" max="1" step="0.1"
                               data-toggle="tooltip" data-placement="left" title="Outline opacity (0.0 = transparent, 1.0 = opaque)" required="required">                                   
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-stroke-style">
                        Line style
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control map-creator-control-sm" id="t2-layer-style-stroke-style"                                        
                                data-toggle="tooltip" data-placement="left" title="Type of line" required="required"> 
                            <option value="solid">Solid</option>
                            <option value="dotted">Dotted</option>
                            <option value="dashed">Dashed</option>
                            <option value="dotted-dashed">Dash/dot</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="t2-layer-style-fill">
            <div class="panel-heading">
                <h3 class="panel-title">Interior (fill) properties (all geometry types)</h3>
            </div>
            <div class="panel-body">                                                    
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="t2-layer-style-fill-color">
                        Colour
                    </label>
                    <div class="col-sm-9">
                        <input type="color" class="form-control map-creator-control-sm" id="t2-layer-style-fill-color"                                                             
                               data-toggle="tooltip" data-placement="left" title="Colour of the graphic fill, default black">                                   
                        </input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="t2-layer-style-fill-opacity" class="col-sm-3 control-label">Opacity</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control map-creator-control-sm" id="t2-layer-style-fill-opacity" 
                               placeholder="Fill opacity (0->1)"
                               min="0" max="1" step="0.1"
                               data-toggle="tooltip" data-placement="left" title="Fill opacity (0.0 = transparent, 1.0 = opaque)" required="required">                                   
                        </input>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>
