<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-default" style="width:100%" data-toggle="collapse" href="#t2-layer-wms-props-div">Edit WMS properties</a>
            </div>
            <div class="panel-collapse collapse in" id="t2-layer-wms-props-div">
                <div class="panel-body">
                    <!-- wms_source, feature_name, style_name, legend_graphic, is_base, is_singletile, is_dem, is_time_dependent -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="t2-layer-wms-wms_source">
                            WMS source
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control map-creator-control-sm" id="t2-layer-wms-wms_source" name="t2-layer-wms-wms_source"
                                    data-toggle="tooltip" data-placement="left" title="Choose a WMS service from which to fetch data" required="required">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="t2-layer-wms-feature_name">
                            Feature
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control map-creator-control-sm" id="t2-layer-wms-feature_name" name="t2-layer-wms-feature_name"
                                    data-toggle="tooltip" data-placement="left" title="Choose a dataset served by above WMS" required="required">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="t2-layer-legend_graphic" class="col-sm-3 control-label">Legend image</label>
                        <div class="col-sm-9">
                            <input type="url" class="form-control map-creator-control-sm" id="t2-layer-legend_graphic" name="t2-layer-legend_graphic" placeholder="URL of legend image if required" 
                                   data-toggle="tooltip" data-placement="left" title="Custom URL for a legend image, defaults to using WMS">                                   
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="t2-layer-wms-is_base" name="t2-layer-wms-is_base" value="base"
                                           data-toggle="tooltip" data-placement="left" title="Tick if base (backdrop) layer">                                
                                    </input> Layer is a base (backdrop) layer
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="t2-layer-wms-is_singletile" name="t2-layer-wms-is_singletile" value="singletile"
                                           data-toggle="tooltip" data-placement="left" title="Tick to use a single tile (for large rasters, or layers that need wide area labelling)">                                
                                    </input> Layer rendered as one large tile
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="t2-layer-wms-is_dem" name="t2-layer-wms-is_dem" value="dem"
                                           data-toggle="tooltip" data-placement="left" title="Tick if this layer is a DEM to be used in elevation measurement">                                
                                    </input> Layer is a Digital Elevation Model (DEM)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="t2-layer-wms-is_time_dependent" name="t2-layer-wms-is_time_dependent" value="timedep"
                                           data-toggle="tooltip" data-placement="left" title="Tick if this layer has a time dimension">                                
                                    </input> Layer has a time dimension
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                   
    </body>
</html>
