<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="panel-body">
            <form id="t2-layer-wms-form" class="form-horizontal">
                <input type="hidden" id="t2-layer-wms-id" name="t2-layer-wms-id"></input>
                <div class="form-group">
                    <label for="t2-layer-wms-name" class="col-sm-2 control-label">Layer name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control map-creator-control" id="t2-layer-wms-name" name="t2-layer-wms-name" placeholder="Layer name" 
                               data-toggle="tooltip" data-placement="right" title="Letters, numbers and _ allowed" required="required">                                   
                        </input>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
