<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">               
        <form id="map-layers-form" class="form-horizontal">            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Select which data layers should be added to the map</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        TO DO
                    </div>                    
                </div>
            </div>            
        </form>
    </body>
</html>
