<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">               
        <form id="map-controls-form" class="form-horizontal">
            <input type="hidden" name="map-controls" value="zoom_world"></input>
            <input type="hidden" name="map-controls" value="zoom_in"></input>
            <input type="hidden" name="map-controls" value="zoom_out"></input>
            <input type="hidden" name="map-controls" value="box_zoom"></input>
            <input type="hidden" name="map-controls" value="feature_info"></input>
            <input type="hidden" name="map-controls" value="graticule"></input>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Select which controls should be added to the map area</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        Note that controls for zoom in/out, to maximum extent and by dragging a box appear by default. Information pop-ups will automatically appear 
                        on map features where a layer has interactivity enabled
                    </div>
                    <div class="col-md-12 form-inline">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="full_screen"
                                   data-toggle="tooltip" data-placement="top" title="Enable map viewing in browser full-screen mode"></input>
                            Full-screen viewer
                        </label>                       
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="rotation"
                                   data-toggle="tooltip" data-placement="top" title="Enable map rotation by shift and drag"></input>
                            Interactive map rotation
                        </label>   
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="geolocation"
                                   data-toggle="tooltip" data-placement="top" title="Show my position according to device GPS"></input>
                            Current device position
                        </label>       
                    </div>
                    <div class="col-md-12 form-inline" th:switch="${mapplugins}">                        
                        <div class="form-group" th:case="null">                            
                            <p class="form-control-static">There are no extra plugins available</p>
                        </div>
                        <div th:case="*">
                            <label th:each="plugin : ${mapplugins}" class="checkbox-inline" th:inline="text">
                                <input type="checkbox" name="map-controls" th:value="${plugin.name}"
                                       data-toggle="tooltip" data-placement="top" th:title="${plugin.tooltip}"></input>
                                [[${plugin.caption}]]
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Select which tools should be added the top menu-bar</h3>
                </div>
                <div class="panel-body">                    
                    <div class="col-md-12 form-inline">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="geosearch"
                                   data-toggle="tooltip" data-placement="top" title="Add the ability to search gazetteer(s) of place-names for this area"></input>
                            Geosearch tool
                        </label>                            
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="measurement"
                                   data-toggle="tooltip" data-placement="top" title="Enable measurement of distances, areas and elevations (if a DEM layer is included)"></input>
                            Measurement tool
                        </label> 
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="overview_map"
                                   data-toggle="tooltip" data-placement="top" title="Enable an inset overview map"></input>
                            Overview map
                        </label>                         
                    </div>
                    <div class="col-md-12 form-inline">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="download_data"
                                   data-toggle="tooltip" data-placement="top" title="Enable download of underlying data"></input>
                            Data download tool
                        </label>                        
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="personaldata"
                                   data-toggle="tooltip" data-placement="top" title="Enable logged-in users to manage custom map views, data layers and unit preferences"></input>
                            User data tool
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="map-controls" value="feedback"
                                   data-toggle="tooltip" data-placement="top" title="Enable user feedback for data and interface problems"></input>
                            User feedback tool
                        </label>
                    </div>
                    <div class="col-md-12 form-inline" th:switch="${navplugins}">                        
                        <div class="form-group" th:case="null">                            
                            <p class="form-control-static">There are no extra plugins available</p>
                        </div>
                        <div th:case="*">
                            <label th:each="plugin : ${navplugins}" class="checkbox-inline" th:inline="text">
                                <input type="checkbox" name="map-controls" th:value="${plugin.name}"
                                       data-toggle="tooltip" data-placement="top" th:title="${plugin.tooltip}"></input>
                                [[${plugin.caption}]]
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Control map operational permissions</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-striped table-hover table-responsive" style="width:100%">
                        <tr>
                            <th style="width:25%">Role</th>
                            <th style="width:30%">User level</th>
                            <th style="width:15%">
                                <span data-toggle="tooltip" data-placement="top" title="View this map (not necessarily all data within it)">View map</span>
                            </th>
                            <th style="width:15%">
                                <span data-toggle="tooltip" data-placement="top" title="Change this map">Edit map</span>
                            </th>
                            <th style="width:15%">
                                <span data-toggle="tooltip" data-placement="top" title="Download data through this map">Download data</span>
                            </th>                        
                        </tr>
                        <tbody class="role-permission-matrix">
                            <tr th:each="role : ${roles}" th:with="usertype = ${#strings.contains(role, ':')} ? ${#strings.substringBefore(role, ':')} : ${role}, userrole = ${#strings.contains(role, ':')} ? ${#strings.substringAfter(role, ':')} : ${role}">
                                <td th:text="${userrole}"></td>
                                <td th:switch="${usertype}">
                                    <span th:case="'owner'">Map owner</span>
                                    <span th:case="'login'">Any logged-in user</span>
                                    <span th:case="'public'">Guest users</span>
                                    <span th:case="'admin'">Administrators</span>
                                    <span th:case="'superuser'">Super users</span>
                                    <span th:case="'internal'">Internal user</span>
                                    <span th:case="'external'">External user</span>
                                </td>
                                <td th:switch="${usertype}">
                                    <span th:case="'admin'" class="fa fa-check"><input type="hidden" name="map-controls-allowed_usage" value="admin"></input></span>
                                    <span th:case="'owner'" class="fa fa-check"><input type="hidden" name="map-controls-allowed_usage" value="owner"></input></span>
                                    <input th:case="*" type="checkbox" name="map-controls-allowed_usage" th:value="${userrole}"></input>                                                                
                                </td>
                                <td th:switch="${usertype}">
                                    <span th:case="'admin'" class="fa fa-check"><input type="hidden" name="map-controls-allowed_edit" value="admin"></input></span>
                                    <span th:case="'owner'" class="fa fa-check"><input type="hidden" name="map-controls-allowed_edit" value="owner"></input></span>
                                    <input th:case="'superuser'" type="checkbox" name="map-controls-allowed_edit" th:value="${userrole}"></input>                                    
                                    <span th:case="*" class="fa fa-times"></span>                                    
                                </td>
                                <td th:switch="${usertype}">
                                    <span th:case="'admin'" class="fa fa-check"><input type="hidden" name="map-controls-allowed_download" value="admin"></input></span>
                                    <span th:case="'owner'" class="fa fa-check"><input type="hidden" name="map-controls-allowed_download" value="owner"></input></span>
                                    <input th:case="*" type="checkbox" name="map-controls-allowed_download" th:value="${userrole}"></input>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                    <div class="form-group">
                        <label for="map-controls-repository" class="col-md-2 control-label">Download repo</label>
                        <div class="col-md-10">
                            <input type="url" class="form-control" id="map-controls-repository" name="map-controls-repository" placeholder="http://" 
                                   maxlength="254" data-toggle="tooltip" data-placement="right" title="Full URL of download repository (e.g. Ramadda)">                                   
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
