<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="row">            
            <div class="col-md-6">
                <form id="map-layers-form" class="form-horizontal">                            
                    <div id="map-layers-layertree-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Choose data layers for the map, and their order</h3>
                        </div>
                        <div class="panel-body">                            
                            <ul id="map-layers-layertree" class="list-group"></ul>
                            <button id="map-layers-new-layer" type="button" class="btn btn-primary" disabled="disabled">New layer</button>
                            <button id="map-layers-new-group" type="button" class="btn btn-primary" disabled="disabled">New group</button>                
                        </div>
                    </div>                
                </form>
            </div>
        </div>
    </body>
</html>
