<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-primary" style="width:100%" data-toggle="collapse" href="#t2-layer-kml-props-div">Edit KML properties</a>
            </div>
            <div class="panel-collapse collapse in" id="t2-layer-kml-props-div">
                <div class="panel-body">
                    <div class="alert alert-info">
                        You may like to consider publishing KML files via PostGIS using the upload feature within the map interface.
                        This will enable management of data via the Geoserver admin console
                    </div>
                    <!-- gpx_source, style_definition -->
                    <input type="hidden" name="t2-layer-kml-style_definition" id="t2-layer-kml-style_definition"></input>
                    <div class="form-group">
                        <label for="t2-layer-kml-kml_source" class="col-sm-3 control-label">KML source</label>
                        <div class="col-sm-9">
                            <input type="url" class="form-control map-creator-control-sm" id="t2-layer-kml-kml_source" name="t2-layer-kml-kml_source" 
                                   placeholder="URL of KML source" required="required"
                                   data-toggle="tooltip" data-placement="left" title="Source URL for KML data">                                   
                            </input>
                        </div>
                    </div>                                               
                </div>
            </div>
        </div>  
    </body>
</html>
