<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">        
        <div class="well well-lg">
            <h3>Welcome to the MAGIC Map Creation Wizard</h3>            
        </div>
        <form id="t1-form" class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select how to create your map</h3>
                </div>
                <div class="panel-body">                
                    <div class="form-group">
                        <label class="col-sm-2" for="t1-new-rb">
                            <input type="radio" name="_t1-action-rb" id="t1-new-rb" value="new" checked="checked"></input>
                            Create a new map of
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control map-creator-control-lg map-select" id="t1-new">
                                <option value="">Select region</option>
                                <option value="antarctic">Antarctica</option> 
                                <option value="arctic">Arctic</option> 
                                <option value="southgeorgia">South Georgia</option> 
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="t1-clone-rb">
                            <input type="radio" name="_t1-action-rb" id="t1-clone-rb" value="clone"></input>
                            Clone existing map
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control map-creator-control-lg map-select" id="t1-clone" disabled="disabled">
                                <option value="">Select a map</option>                       
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="t1-edit-rb">
                            <input type="radio" name="_t1-action-rb" id="t1-edit-rb" value="edit"></input>
                            Edit existing map
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control map-creator-control-lg map-select" id="t1-edit" disabled="disabled">
                                <option value="">Select a map</option>                        
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic map information</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="t1-name" class="col-sm-2 control-label">Name of map</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control map-creator-control-xl" id="t1-name" name="t1-name" placeholder="Name for map" 
                                   maxlength="50" data-toggle="tooltip" data-placement="right" title="Name to be used in the URL - only lowercase letters, numbers and _ allowed" required="required">                                   
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="t1-title" class="col-sm-2 control-label">Title of map</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control map-creator-control-xl" id="t1-title" name="t1-title" placeholder="Title for map" 
                                   maxlength="100" data-toggle="tooltip" data-placement="right" title="Map title - letters, numbers, _ and spaces allowed" required="required">                                   
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="t1-description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control map-creator-control-xl" id="t1-description" name="t1-description" placeholder="Comprehensive map description"
                                      data-toggle="tooltip" data-placement="right" title="Useful info like map purpose, intended audience etc" required="required">                            
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="t1-version" class="col-sm-2 control-label">Version</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control map-creator-control-xl" id="t1-version" name="t1-version" value="1.0" maxlength="20"
                                   data-toggle="tooltip" data-placement="right" title="Map version">                            
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="t1-owner_email" class="col-sm-2 control-label">Contact email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control map-creator-control-xl" id="t1-owner_email" name="t1-owner_email" placeholder="Valid email address" maxlength="150"
                                   data-toggle="tooltip" data-placement="right" title="Contact email for map owner" required="required">                            
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
