<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">         
        <div class="row">
            <div class="col-md-6">
                <div id="t2-layertree-panel" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Choose data layers for the map, and their order</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="t2-layertree" class="list-group layertree">                    
                        </ul>
                        <button id="t2-new-layer" type="button" class="btn btn-primary" disabled="disabled">New layer</button>
                        <button id="t2-new-group" type="button" class="btn btn-primary" disabled="disabled">New group</button>                
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="t2-update-panel" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 id="t2-update-panel-title" class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div id="t2-group-div" th:include="creator_fragments/update_group :: layout"></div>                        
                        <div id="t2-layer-div" th:include="creator_fragments/update_layer :: layout"></div>                        
                    </div>
                </div>
            </div>
        </div>
    </body>   
</html>
