<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="well well-lg">
            <h3>Map infrastructure</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Configure the way the map looks</h4>                
                </div>
            </div>
        </div>
    </body>
</html>
