<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="well well-sm">
            <h3>Map appearance</h3>            
        </div>
        <form id="t4-form" class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select default, minimum and maximum zooms and map centre</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6">
                        
                    </div>
                    <div id="t4-map" class="col-lg-6">
                        
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
