<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <form id="cm-tab2-layer" class="form-horizontal">
            <input type="hidden" id="cm-tab2-layer-id" name="cm-tab2-layer-id"></input>
            <div class="form-group">
                <label for="cm-tab2-layer-name" class="col-sm-3 control-label">Layer name</label>
                <div class="col-sm-9">                                    
                    <input type="text" class="form-control" id="cm-tab2-layer-name" name="cm-tab2-layer-name" placeholder="Name for layer" 
                           data-toggle="tooltip" data-placement="right" title="Letters, numbers, spaces and _ allowed" required="required">                                   
                    </input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="cm-tab2-layer-is_visible" name="cm-tab2-layer-is_visible"
                                   data-toggle="tooltip" data-placement="right" title="Tick if you want layer to be visible in initial map view">                                
                            </input> Layer is visible
                        </label>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="panel panel-default">
                <!-- Source type tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#cm-tab2-layer-source-wms-tab" aria-controls="home" role="tab" data-toggle="tab">WMS</a></li>
                    <li role="presentation"><a href="#cm-tab2-layer-source-geojson-tab" aria-controls="profile" role="tab" data-toggle="tab">GeoJSON</a></li>
                    <li role="presentation"><a href="#cm-tab2-layer-source-gpx-tab" aria-controls="messages" role="tab" data-toggle="tab">GPX</a></li>
                    <li role="presentation"><a href="#cm-tab2-layer-source-kml-tab" aria-controls="settings" role="tab" data-toggle="tab">KML</a></li>
                </ul>
                <!-- Source tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="cm-tab2-layer-source-wms-tab">
                        <div class="panel-body">
                            <div class="radio form-inline">
                                <label class="input-by-radio-label" for="cm-tab2-layer-source-wms-known">
                                    <input type="radio" name="cm-tab2-layer-source-wms-chooser" id="cm-tab2-layer-source-wms-known-rb" value="known"></input>
                                    WMS endpoint
                                </label>
                                <select class="form-control input-by-radio" id="cm-tab2-layer-source-wms-known" name="cm-tab2-layer-source-wms-known"
                                        data-toggle="tooltip" data-placement="right" title="Choose from range of known WMS services">                                    
                                </select>
                            </div>
                            <div class="radio form-inline">
                                <label class="input-by-radio-label" for="cm-tab2-layer-source-wms-custom">
                                    <input type="radio" name="cm-tab2-layer-source-wms-chooser" id="cm-tab2-layer-source-wms-custom-rb" value="custom"></input>
                                    or custom URL
                                </label>
                                <input type="text" class="form-control input-by-radio" id="cm-tab2-layer-source-wms_source-custom" name="cm-tab2-layer-source-wms_source-custom" placeholder="WMS URL" 
                                       data-toggle="tooltip" data-placement="right" title="URL of the WMS endpoint for the data">                                   
                                </input>
                            </div>
                            <div class="radio form-inline">
                                <label class="input-by-radio-label" for="cm-tab2-layer-source-wms-feature_name">                                    
                                    Data layer name
                                </label>
                                <select class="form-control input-by-radio" id="cm-tab2-layer-source-wms-feature_name" name="cm-tab2-layer-source-wms-feature_name"
                                        data-toggle="tooltip" data-placement="right" title="Choose a data layer">                                    
                                </select>
                            </div>
                            <div class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="cm-tab2-layer-source-is_base" name="cm-tab2-layer-source-is_base"
                                               data-toggle="tooltip" data-placement="right" title="Tick if this is a backdrop layer">                                
                                        </input> Layer is a base (backdrop) layer
                                    </label>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="cm-tab2-layer-source-is_singletile" name="cm-tab2-layer-source-is_singletile"
                                               data-toggle="tooltip" data-placement="right" title="Tick to use a single tile (for large rasters, or layers that need wide area labelling)">                                
                                        </input> Layer is rendered as one large tile
                                    </label>
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="cm-tab2-layer-source-is_dem" name="cm-tab2-layer-source-is_dem"
                                               data-toggle="tooltip" data-placement="right" title="Tick if this layer is a DEM to be used in elevation measurement">                                
                                        </input> Layer is a Digital Elevation Model (DEM)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cm-tab2-layer-source-geojson-tab">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="cm-tab2-layer-source-gpx-tab">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="cm-tab2-layer-source-kml-tab">

                    </div>
                </div>
            </div>
            <button id="cm-tab2-layer-save" type="button" class="btn btn-primary">Update</button>
            <button id="cm-tab2-layer-delete" type="button" class="btn btn-danger btn-primary">Delete</button>
        </form>
    </body>
</html>
