<div th:fragment="assets" th:remove="tag">
    <div th:switch="${profile}" th:remove="tag">
        <div th:case="opsgis_rothera" th:remove="tag">
            <script th:src="@{'/static/dist/cdn_embedded_creator_opsgis_rothera.min.js'}"></script>
        </div>
        <div th:case="*" th:remove="tag">
            <script src="https://cdn.web.bas.ac.uk/magic/js/openlayers/4.2.0/ol.min.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/jquery/3.3.1/jquery-3.3.1.min.js"></script>
            <script src="https://cdn.web.bas.ac.uk/magic/js/tv4/1.0.0/tv4.min.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/proj4js/2.4.3/proj4.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3031/2005-04-14/3031.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3762/2007-07-06/3762.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3995/2008-09-19/3995.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/102020/2000-01-01/102020.js"></script>
            <script src="https://cdn.web.bas.ac.uk/libs/bootstrap/3.3.7/js/bootstrap-3.3.7.min.js"></script>
            <script src="https://cdn.web.bas.ac.uk/magic/js/bootbox/4.4.0/bootbox.min.js"></script>
            <script src="https://cdn.web.bas.ac.uk/magic/js/html5sortable/0.9.2/html5sortable.min.js"></script>
        </div>  
    </div>
</div>