<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Embedded Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <title>Embedded Map creation wizard</title>
        <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
        <link th:href="@{'/static/buildcss/allcss.embedded_creator.' + ${profile} + '.css'}" rel="stylesheet"></link>
        <script th:src="@{'/static/buildjs/alljs.embedded_creator.' + ${profile} + '.js'}"></script>
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Embedded Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'/' + ${favicon}}"></link>
        <title>Embedded Map creation wizard</title>
        <link href="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/openlayers/4.2.0/ol.css" rel="stylesheet"></link>
        <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
        <link href="https://cdn.web.bas.ac.uk/webmap-engine/webmap-engine/1.0.0/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/creator_common.css" rel="stylesheet"></link>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/openlayers/4.2.0/ol.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/tv4/1.0.0/tv4.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/2.4.3/proj4.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3031/2005-04-14/3031.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3762/2007-07-06/3762.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/3995/2008-09-19/3995.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/proj4js/projections/102020/2000-01-01/102020.js"></script>
        <script src="https://cdn.web.bas.ac.uk/libs/bootstrap/3.3.7/js/bootstrap-3.3.7.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/bootbox/4.4.0/bootbox.min.js"></script>
        <script src="https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/js/html5sortable/0.9.2/html5sortable.min.js"></script>
        <script src="/static/js/creator/init.js"></script>
        <script src="/static/js/base/PopupForm.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/creator/forms/EmbeddedAttributeEditorPopup.js"></script>
        <script src="/static/js/creator/forms/EmbeddedLayerEditorPopup.js"></script>
        <script src="/static/js/creator/forms/WmsFeatureLinkedMenus.js"></script>
        <script src="/static/js/creator/components/MapRegionSelector.js"></script>
        <script src="/static/js/creator/components/MapMetadataForm.js"></script>
        <script src="/static/js/creator/components/MapLayerSelector.js"></script>
        <script src="/static/js/creator/components/MapParameterSelector.js"></script>
        <script src="/static/js/creator/components/EmbeddedAppContainer.js"></script>
    </head>
    <body>        
    </body>
</html>
