<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Embedded Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <title>Embedded Map creation wizard</title>
        <div th:replace="embedded_creator_fragments/cdncss :: assets"></div>
        <link th:href="@{'/static/dist/embedded_creator.min.css'}" rel="stylesheet"></link>  
        <div th:replace="embedded_creator_fragments/cdnjs :: assets"></div>
        <script th:src="@{'/static/dist/embedded_creator.min.js'}"></script>        
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Embedded Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <title>Embedded Map creation wizard</title>
        <div th:replace="embedded_creator_fragments/cdncss :: assets"></div>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/creator_common.css" rel="stylesheet"></link>
        <div th:replace="embedded_creator_fragments/cdnjs :: assets"></div>
        <script src="/static/js/creator/init.js"></script>
        <script src="/static/js/base/PopupForm.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/creator/forms/EmbeddedAttributeEditorPopup.js"></script>
        <script src="/static/js/creator/forms/EmbeddedLayerEditorPopup.js"></script>
        <script src="/static/js/creator/forms/WmsFeatureLinkedMenus.js"></script>
        <script src="/static/js/creator/components/MapRegionSelector.js"></script>
        <script src="/static/js/creator/components/MapMetadataForm.js"></script>
        <script src="/static/js/creator/components/MapLayerSelector.js"></script>
        <script src="/static/js/creator/components/MapParameterSelector.js"></script>
        <script src="/static/js/creator/components/EmbeddedAppContainer.js"></script>
    </head>
    <body>        
    </body>
</html>
