<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Embedded Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <title>Embedded Map creation wizard</title>
        <link href="/static/buildcss/allcss.embedded.${profile}.css" rel="stylesheet"></link>                
        <script src="/static/buildjs/alljs.embedded.${profile}.js"></script>        
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Embedded Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <title>Embedded Map creation wizard</title>
        <link href="/static/css/ol.css" rel="stylesheet"></link>
        <link href="/static/css/bootstrap.min.${theme}.css" rel="stylesheet"></link>
        <link href="/static/css/prettify.css" rel="stylesheet"></link>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/embedded_creator.css" rel="stylesheet"></link>
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
        <script src="/static/js/ol.min.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/tv4.min.js"></script>
        <script src="/static/js/proj4.js"></script>
        <script src="/static/js/proj4defs/3031.js"></script>
        <script src="/static/js/proj4defs/3762.js"></script>
        <script src="/static/js/proj4defs/3995.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootbox.min.js"></script>
        <script src="/static/js/jquery.sortable.min.js"></script>
        <script src="/static/js/embedded_creator/init.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/creator/modules/Common.js"></script>
        <script src="/static/js/embedded_creator/components/MapContext.js"></script>
        <script src="/static/js/embedded_creator/modules/Data.js"></script>        
        <script src="/static/js/embedded_creator/modules/Tab1.js"></script>
    </head>
    <body>        
    </body>
</html>
