<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">                                    
        <div class="form-group">
            <label class="col-md-3" for="region-select-new-rb">
                <input type="radio" name="_region-select-action-rb" id="region-select-new-rb" value="new" checked="checked"></input>
                Create a new map of
            </label>
            <div class="col-md-9">
                <select class="form-control map-select" id="region-select-new">
                    <option value="">Select region</option>
                    <option value="antarctic">Antarctica</option> 
                    <option value="arctic">Arctic</option> 
                    <option value="southgeorgia">South Georgia</option> 
                    <option value="midlatitudes">World (mid-latitudes)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3" for="region-select-clone-rb">
                <input type="radio" name="_region-select-action-rb" id="region-select-clone-rb" value="clone"></input>
                Clone existing map
            </label>
            <div class="col-md-9">
                <select class="form-control map-select" id="region-select-clone" disabled="disabled">
                    <option value="">Select a map</option>                       
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3" for="region-select-edit-rb">
                <input type="radio" name="_region-select-action-rb" id="region-select-edit-rb" value="edit"></input>
                Edit existing map
            </label>
            <div class="col-md-9">
                <select class="form-control map-select" id="region-select-edit" disabled="disabled">
                    <option value="">Select a map</option>                        
                </select>
            </div>
        </div>                       
    </body>
</html>
