<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <input type="hidden" name="em-map-id" id="em-map-id"></input>
        <input type="hidden" name="em-map-allowed-usage" id="em-map-allowed-usage" value="public"></input>
        <input type="hidden" name="em-map-allowed-edit" id="em-map-allowed-edit" value="login"></input>
        <div class="form-group">
            <label for="em-map-name" class="col-md-3 control-label">Name of map</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="em-map-name" name="em-map-name" placeholder="Name for map" 
                       maxlength="50" data-toggle="tooltip" data-placement="left" title="Name to be used in the URL: only lowercase letters, numbers and _ allowed" 
                       pattern="^[a-z0-9_]+$" required="required">                                   
                </input>
            </div>
        </div>
        <div class="form-group">
            <label for="em-map-title" class="col-md-3 control-label">Title of map</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="em-map-title" name="em-map-title" placeholder="Title for map" 
                       maxlength="100" data-toggle="tooltip" data-placement="left" title="Informative title for the map" required="required">                                   
                </input>
            </div>
        </div>
        <div class="form-group">
            <label for="em-map-description" class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
                <textarea class="form-control" id="em-map-description" name="em-map-description" placeholder="Comprehensive map description"
                          data-toggle="tooltip" data-placement="left" title="Useful info like map purpose, intended audience etc" required="required">                            
                </textarea>
            </div>
        </div>        
        <div class="form-group">
            <label for="em-map-owner_email" class="col-md-3 control-label">Owner email</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="em-map-owner_email" name="em-map-owner_email" placeholder="Valid email address" maxlength="150"
                       data-toggle="tooltip" data-placement="left" title="Contact email for map owner" required="required">                            
                </input>
            </div>
        </div>
        <div class="form-group">
            <label for="em-map-width" class="col-md-3 control-label">Map width (px)</label>
            <div class="col-md-9">
                <input type="number" class="form-control" id="em-map-width" name="em-map-width" 
                       placeholder="Width of map in pixels" 
                       min="100" max="1200" step="25"
                       data-toggle="tooltip" data-placement="left" title="Width of the map on the page, in pixels" required="required">                                   
                </input> 
            </div>
        </div>
        <div class="form-group">
            <label for="em-map-height" class="col-md-3 control-label">Map height (px)</label>
            <div class="col-md-9">
                <input type="number" class="form-control" id="em-map-height" name="em-map-height" 
                       placeholder="Height of map in pixels" 
                       min="100" max="1200" step="25"
                       data-toggle="tooltip" data-placement="left" title="Height of the map on the page, in pixels" required="required">                                   
                </input> 
            </div>
        </div>
        <div class="form-group">
            <label for="em-map-embed" class="col-md-3 control-label">Where to embed map</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="em-map-embed" name="em-map-embed" placeholder="Embed map in div with this id" 
                       maxlength="100" data-toggle="tooltip" data-placement="left" title="id of div element in page which should contain the map" required="required">                                   
                </input>
            </div>
        </div>
    </body>
</html>
