<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">                
        <table id="layer-selector-list" class="table table-sortable hidden" style="margin-top:10px">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Source</th>                    
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
        <div>
            <button id="layer-selector-layer-add" class="btn btn-md btn-primary" type="button" data-toggle="popover" data-trigger="manual" data-placement="right">
                <i data-toggle="tooltip" data-placement="top" title="Add a new layer to the map" class="fa fa-star"></i> 
            </button>
        </div>
    </body>
</html>
