<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>    
    <body th:fragment="layout">
        <div class="form-group">
            <input type="hidden" name="em-map-layer-wms-id" id="em-map-layer-wms-id" value=""></input>
            <label class="col-md-3 control-label" for="em-map-layer-wms-wms_source">
                WMS endpoint
            </label>
            <div class="col-md-9">
                <select class="form-control" id="em-map-layer-wms-wms_source" name="em-map-layer-wms-wms_source"
                        data-toggle="tooltip" data-placement="left" title="Choose a WMS service from which to fetch data" required="required">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="em-map-layer-wms-feature_name">
                Feature
            </label>
            <div class="col-md-9">
                <select class="form-control" id="em-map-layer-wms-feature_name" name="em-map-layer-wms-feature_name"
                        data-toggle="tooltip" data-placement="left" title="Choose a dataset served by above WMS" required="required">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="em-map-layer-wms-opacity">Opacity</label>
            <div class="col-md-9">
                <input type="number" class="form-control" id="em-map-layer-wms-opacity" name="em-map-layer-wms-opacity" 
                       placeholder="Layer opacity (0->1)"
                       min="0" max="1" step="0.1"
                       data-toggle="tooltip" data-placement="left" title="Layer opacity (0.0 = transparent, 1.0 = opaque)">                                   
                </input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="em-map-layer-wms-is_singletile" name="em-map-layer-wms-is_singletile" value="singletile"
                               data-toggle="tooltip" data-placement="left" title="Tick to use a single tile (for large rasters, or layers like place-names that need wide area labelling)">                                
                        </input> Render as one large tile
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="em-map-layer-wms-is_interactive" name="em-map-layer-wms-is_interactive" value="interactive"
                               data-toggle="tooltip" data-placement="left" title="Tick to indicate layer should display pop-ups and accept filters">                                
                        </input> Interactive
                    </label>
                </div>
            </div>
        </div>
        <div>
            <button id="em-map-layer-wms-go" class="btn btn-primary" type="button" 
                data-toggle="tooltip" data-placement="top" title="Save data">
                <span class="fa fa-floppy-o"></span>Save
            </button>
            <button id="em-map-layer-wms-fb-ok" class="btn btn-success" style="display:none;" type="button"
                data-toggle="tooltip" data-placement="top" title="Ok">                
                <span class="glyphicon glyphicon-ok post-ok"></span>Ok
            </button>
            <button id="em-map-layer-wms-fb-error" class="btn btn-danger" style="display:none" type="button"
                data-toggle="tooltip" data-placement="top" title="Error">
                <span class="glyphicon glyphicon-remove post-error">Error</span>
            </button>            
            <button id="em-map-layer-wms-reset" type="button" class="btn btn-danger"
                data-toggle="tooltip" data-placement="top" title="Clear layer data form">Reset</button>
        </div>
        <table id="em-map-layerlist" class="table table-sortable hidden" style="margin-top:10px">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Source</th>
                    <th>Name</th>                    
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </body>
</html>
