<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <title></title>
        <link href="/static/buildcss/allcss.css" rel="stylesheet"></link>        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->       
        <script src="/static/buildjs/alljs.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            magic.runtime.mapname = [[${map}]];          
            magic.runtime.username = [[${username}]];
            magic.runtime.usermapid = [[${usermapid}]];
            magic.runtime.issuedata = JSON.parse([[${issuedata}]]);
            magic.runtime.watermark = [[${watermark}]];
            /*]]>*/
        </script>
        <script type="text/javascript">
            /* <![CDATA[*/
            function fetchPayload() {
                var payloadUrl = magic.config.paths.baseurl + "/maps/name/" + magic.runtime.mapname;
                if (magic.runtime.usermapid) {
                    payloadUrl += "/" + magic.runtime.usermapid;
                }
                var payloadRequest = jQuery.ajax({
                    url: payloadUrl,
                    method: "GET",
                    dataType: "json"
                }), 
                prefsRequest = payloadRequest.then(function(payload) {                                        
                    magic.runtime.map_context = jQuery.extend({}, payload);
                    magic.runtime.map_context.data = JSON.parse(payload.data.value);
                    magic.runtime.userdata = magic.runtime.map_context.userdata ? JSON.parse(magic.runtime.map_context.userdata.data.value) : {};
                    return(jQuery.ajax({
                        url: magic.config.paths.baseurl + "/prefs/get",
                        method: "GET",
                        dataType: "json"
                    }));
                });
                
                prefsRequest.done(function(prefs) {                    
                    magic.runtime.preferencedata = prefs;
                    magic.runtime.appcontainer = new magic.classes.AppContainer();
                });
                prefsRequest.fail(function(xhr, status) {
                    var detail = JSON.parse(xhr.responseText)["detail"];
                    bootbox.alert(
                        '<div class="alert alert-warning" style="margin-bottom:0">' + 
                            '<p>Failed to get payload and preferences for map ' + magic.runtime.mapname + ' - details below:</p>' + 
                            '<p>' + detail + '</p>' + 
                        '</div>'
                    );
                });
            }

            jQuery(document).ready(function () {
                /* Test whether general announcement is needed for all applications */
                var announcement = jQuery("#announcement-all");
                var cookieName = "announcement_seen_all";
                if (announcement.length == 0) {
                    var qry = window.location.href.indexOf("?");
                    var app = window.location.href.substring(window.location.href.lastIndexOf("/")+1, qry == -1 ? window.location.href.length : qry);
                    announcement = jQuery("#announcement-" + app);
                    cookieName = "announcement_seen_" + app;
                }
                if (announcement.length != 0) {
                    /* Need to display an announcement */
                    var announceModal = jQuery("#announcement-modal");
                    if (announceModal.length > 0 && getCookie(cookieName) == "") {
                        announcement.removeClass("hidden");
                        announceModal.find(".modal-body").prepend(announcement);
                        jQuery("#announcement-close").on("click", function(evt) {
                            if (jQuery("#announcement-dismiss").prop("checked")) {
                                setCookie(cookieName, "yes", 1000);
                            }
                            announceModal.modal("hide");
                        });
                        announceModal.modal("show");
                    }
                }
                fetchPayload();
                /* Display watermnark */
                var wmkDiv = jQuery("div.watermark"); 
                if (wmkDiv.length > 0) {
                    wmkDiv.append('<img src="' + magic.config.paths.baseurl + "/static/images/" + magic.runtime.watermark + '" alt="watermark" />');
                }
            });
            /*]]>*/
        </script>
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Map creation wizard"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/bas.ico"></link>
        <title></title>

        <link href="/static/css/ol.css" rel="stylesheet"></link>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"></link>
        <link href="/static/css/bootstrap-slider.min.css" rel="stylesheet"></link>
        <link href="/static/css/prettify.css" rel="stylesheet"></link>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/map.css" rel="stylesheet"></link>
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
        <link href="/static/css/whhg-reduced.min.css" rel="stylesheet" type="text/css"></link>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/static/js/xmlToJSON.min.js"></script>
        <script src="/static/js/cookie.min.js"></script>
        <script src="/static/js/ol.min.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/vector.js"></script>
        <script src="/static/js/proj4.js"></script>
        <script src="/static/js/proj4defs/3031.js"></script>
        <script src="/static/js/proj4defs/3762.js"></script>
        <script src="/static/js/proj4defs/3995.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/typeahead.bundle.min.js"></script>
        <script src="/static/js/bootstrap-slider.min.js"></script>
        <script src="/static/js/bootbox.min.js"></script>
        <script src="/static/js/prettify.js"></script>
        <script src="/static/js/init.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/modules/VectorStyles.js"></script>
        <script src="/static/js/components/AppContainer.js"></script>
        <script src="/static/js/components/LayerTree.js"></script>
        <script src="/static/js/components/ControlButtonRibbon.js"></script>
        <script src="/static/js/components/DragZoomButton.js"></script>
        <script src="/static/js/components/FullScreenButton.js"></script>
        <script src="/static/js/components/ResetRotationButton.js"></script>
        <script src="/static/js/components/GraticuleButton.js"></script>
        <script src="/static/js/components/GeolocationButton.js"></script>
        <script src="/static/js/components/FeaturePopup.js"></script>
        <script src="/static/js/components/FeatureInfoTool.js"></script>
        <script src="/static/js/components/MosaicTimeSeriesPlayer.js"></script>
        <script src="/static/js/components/Geosearch.js"></script>
        <script src="/static/js/components/Feedback.js"></script>
        <script src="/static/js/components/Measurement.js"></script>
        <script src="/static/js/components/OverviewMap.js"></script>
        <script src="/static/js/components/InsetMap.js"></script>
        <script src="/static/js/components/AttributionModal.js"></script>
        <script src="/static/js/components/LayerTreeOptionsMenu.js"></script>
        <script src="/static/js/components/LayerFilter.js"></script>
        <script src="/static/js/components/UserPreferences.js"></script>
        <script src="/static/js/components/MapSwitcher.js"></script>
        <script src="/static/js/components/Favourites.js"></script>
        <script src="/static/js/components/bas/AircraftPositionButton.js"></script>
        <script src="/static/js/components/bas/ShipPositionButton.js"></script>
        <script src="/static/js/components/bas/StaticTimeSeriesPlayer.js"></script>
        <script src="/static/js/components/bas/IssueInformation.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            magic.runtime.mapname = [[${map}]];          
            magic.runtime.username = [[${username}]];
            magic.runtime.usermapid = [[${usermapid}]];
            magic.runtime.issuedata = JSON.parse([[${issuedata}]]);
            magic.runtime.watermark = [[${watermark}]];
            magic.runtime.debug = [[${debug}]];
            /*]]>*/
        </script>
        <script type="text/javascript">
            /* <![CDATA[*/
            function fetchPayload() {
                var payloadUrl = magic.config.paths.baseurl + "/maps/name/" + magic.runtime.mapname;
                if (magic.runtime.usermapid) {
                    payloadUrl += "/" + magic.runtime.usermapid;
                }
                var payloadRequest = jQuery.ajax({
                    url: payloadUrl,
                    method: "GET",
                    dataType: "json"
                }), 
                prefsRequest = payloadRequest.then(function(payload) {                                        
                    magic.runtime.map_context = jQuery.extend({}, payload);
                    magic.runtime.map_context.data = JSON.parse(payload.data.value);
                    magic.runtime.userdata = magic.runtime.map_context.userdata ? JSON.parse(magic.runtime.map_context.userdata.data.value) : {};
                    return(jQuery.ajax({
                        url: magic.config.paths.baseurl + "/prefs/get",
                        method: "GET",
                        dataType: "json"
                    }));
                });
                
                prefsRequest.done(function(prefs) {                    
                    magic.runtime.preferencedata = prefs;
                    magic.runtime.appcontainer = new magic.classes.AppContainer();
                });
                prefsRequest.fail(function(xhr, status) {
                    bootbox.alert('<div class="alert alert-danger" style="margin-top:10px">Failed to get payload and preferences for map ' + magic.runtime.mapname + '</div>');
                });
            }

            jQuery(document).ready(function () {
                /* Test whether general announcement is needed for all applications */
                var announcement = jQuery("#announcement-all");
                var cookieName = "announcement_seen_all";
                if (announcement.length == 0) {
                    var qry = window.location.href.indexOf("?");
                    var app = window.location.href.substring(window.location.href.lastIndexOf("/")+1, qry == -1 ? window.location.href.length : qry);
                    announcement = jQuery("#announcement-" + app);
                    cookieName = "announcement_seen_" + app;
                }
                if (announcement.length != 0) {
                    /* Need to display an announcement */
                    var announceModal = jQuery("#announcement-modal");
                    if (announceModal.length > 0 && getCookie(cookieName) == "") {
                        announcement.removeClass("hidden");
                        announceModal.find(".modal-body").prepend(announcement);
                        jQuery("#announcement-close").on("click", function(evt) {
                            if (jQuery("#announcement-dismiss").prop("checked")) {
                                setCookie(cookieName, "yes", 1000);
                            }
                            announceModal.modal("hide");
                        });
                        announceModal.modal("show");
                    }
                }
                fetchPayload();
                /* Display watermnark */
                var wmkDiv = jQuery("div.watermark"); 
                if (wmkDiv.length > 0) {
                    wmkDiv.append('<img src="' + magic.config.paths.baseurl + "/static/images/" + magic.runtime.watermark + '" alt="watermark" />');
                }
            });
            /*]]>*/
        </script>
    </head>
    <body>        
    </body>
</html>
