<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta charset="utf-8"></meta>        
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <title></title>
        <div th:replace="fragments/cdncss :: assets"></div>
        <link th:href="@{'/static/dist/map.min.css'}" rel="stylesheet"></link>  
        <div th:replace="fragments/cdnjs :: assets"></div>
        <script th:src="@{'/static/dist/map.min.js'}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            backendVars = {
                mapname: [[${map}]],          
                username: [[${username}]],
                usermapid: [[${usermapid}]],
                issuedata: JSON.parse([[${issuedata}]]),
                debug: [[${debug}]]
            };    
            /*]]>*/
        </script>
        <script type="text/javascript" th:include="fragments/map_inline_js :: layout"></script>
    </head>
    <head th:fragment="debug_layout">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/webmap-engine/1.0.0/favicons/' + ${favicon}}"></link>
        <title></title>
        <div th:replace="fragments/cdncss :: assets"></div>
        <link href="/static/css/nav.css" rel="stylesheet"></link>
        <link href="/static/css/map.css" rel="stylesheet"></link>        
        <div th:replace="fragments/cdnjs :: assets"></div>
        <script src="/static/js/init.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/modules/VectorStyles.js"></script>
        <script src="/static/js/base/CustomFormInput.js"></script>
        <script src="/static/js/base/NavigationBarTool.js"></script>              
        <script src="/static/js/base/AssetPositionButton.js"></script>
        <script src="/static/js/base/PopupForm.js"></script>
        <script src="/static/js/base/DemAwareTool.js"></script>
        <script src="/static/js/base/MapControlButton.js"></script>
        <script src="/static/js/components/forms/SeasonSelect.js"></script>
        <script src="/static/js/components/forms/TagsInput.js"></script>
        <script src="/static/js/components/forms/GazetteerSearchInput.js"></script>
        <script src="/static/js/components/forms/UserPreferencesForm.js"></script>  
        <script src="/static/js/components/forms/MapViewManagerForm.js"></script>
        <script src="/static/js/components/forms/UserLayerManagerForm.js"></script>
        <script src="/static/js/components/forms/StylerPopup.js"></script>
        <script src="/static/js/components/forms/LayerEditorPopup.js"></script>
        <script src="/static/js/components/forms/MapEditorPopup.js"></script>
        <script src="/static/js/components/ControlButtonRibbon.js"></script>
        <script src="/static/js/components/controlbuttons/DragZoomButton.js"></script>
        <script src="/static/js/components/controlbuttons/ResetRotationButton.js"></script>
        <script src="/static/js/components/controlbuttons/GraticuleButton.js"></script>
        <script src="/static/js/components/controlbuttons/GeolocationButton.js"></script>                                        
        <script src="/static/js/components/navtools/Geosearch.js"></script>
        <script src="/static/js/components/navtools/PersonalData.js"></script>
        <script src="/static/js/components/navtools/Feedback.js"></script>
        <script src="/static/js/components/navtools/Measurement.js"></script>
        <script src="/static/js/components/navtools/OverviewMap.js"></script>
        <script src="/static/js/components/navtools/InfoModal.js"></script>        
        <script src="/static/js/components/navtools/DownloadRepo.js"></script>
        <th:block th:each="mplug : ${mapplugins}">
            <script th:src="@{'/static/js/components/plugins/' + ${mplug}}"></script>
        </th:block>
        <th:block th:each="nplug : ${navplugins}">
            <script th:src="@{'/static/js/components/plugins/' + ${nplug}}"></script>
        </th:block>        
        <script src="/static/js/components/plugins/IssueInformation.js"></script>
        <script src="/static/js/components/plugins/ElevationPopup.js"></script>
        <script src="/static/js/components/plugins/HeightGraphPopup.js"></script>
        <script src="/static/js/components/InsetMap.js"></script>        
        <script src="/static/js/components/DragDropGpxKml.js"></script>
        <script src="/static/js/components/AttributionModal.js"></script>
        <script src="/static/js/components/FeaturePopup.js"></script>
        <script src="/static/js/components/FeatureInfoTool.js"></script>
        <script src="/static/js/components/MosaicTimeSeriesPlayer.js"></script>        
        <script src="/static/js/components/LayerTreeOptionsMenu.js"></script>
        <script src="/static/js/components/LayerFilter.js"></script>                      
        <script src="/static/js/components/LayerTree.js"></script>
        <script src="/static/js/components/AppContainer.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            backendVars = {
                mapname: [[${map}]],          
                username: [[${username}]],
                usermapid: [[${usermapid}]],
                issuedata: JSON.parse([[${issuedata}]]),
                debug: [[${debug}]]
            };    
            /*]]>*/
        </script>        
        <script type="text/javascript" th:include="fragments/map_inline_js :: layout"></script>
    </head>
    <body>        
    </body>
</html>
