<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Web Mapping Services - Login"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>

        <title>Web Mapping Services - Login</title>

        <link rel="icon" type="image/vnd.microsoft.icon" href="@{'/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="@{'/' + ${favicon}}"></link>        
        <link href="static/css/bootstrap.min.css" rel="stylesheet"></link>
        <link href="static/css/login.css" rel="stylesheet"></link>

        <script src="static/js/jquery.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script th:inline="javascript" defer="defer">
            /*<![CDATA[*/            
            var error = [[${param.error}]];
            
            jQuery(function() {
                if (jQuery.isArray(error)) {                    
                    jQuery("#login-username").parent().addClass("has-error").addClass("has-feedback");
                    jQuery("#login-password").parent().addClass("has-error").addClass("has-feedback");
                } else {
                    jQuery("#login-username").parent().removeClass("has-error").removeClass("has-feedback");
                    jQuery("#login-password").parent().removeClass("has-error").removeClass("has-feedback");
                }
            });
            
            /*]]>*/
        </script>
    </head>
    <body>
        <div class="container login-form-container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 style="margin-top:10px;text-align:center">Welcome to MAGIC Web Services</h3>
                </div>                
                <div class="panel-body">
                    <div class="alert alert-info">Please log in using your BAS username and LDAP (SOUTH) password to begin</div>
                    <form th:action="@{/login}" method="post" class="form-horizontal" style="width:50%">               
                        <div th:if="${param.logout}" class="post-ok" style="margin-bottom:10px"> 
                            You have been logged out
                        </div>
                        <div th:if="${param.error} == 'forbidden'" class="post-error" style="margin-bottom:10px"> 
                            You tried to access a restricted resource - please log in
                        </div>
                        <div th:if="${param.error} == ''" class="post-error" style="margin-bottom:10px"> 
                            Unable to log you in - please try again
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="login-username">Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" id="login-username" placeholder="Your BAS username" 
                                required="required" autofocus="autofocus"></input>
                                <span class="glyphicon glyphicon-remove form-control-feedback hidden" style="margin-right:15px"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="login-password">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" id="login-password" placeholder="Your BAS LDAP (SOUTH) password" 
                                required="required"></input>
                                <span class="glyphicon glyphicon-remove form-control-feedback hidden" style="margin-right:15px"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <input type="submit" value="Log in" class="btn btn-primary"></input>
                        </div>   			
                    </form>
                </div>
            </div>
        </div>
    </body>    
</html>
