<script th:fragment="layout">
    /* <![CDATA[*/    
    function fetchPayload() {
        moment.suppressDeprecationWarnings = true;
        var payloadUrl = magic.config.paths.baseurl + "/maps/name/" + backendVars.mapname;
        if (backendVars.usermapid) {
            payloadUrl += "/" + backendVars.usermapid;
        }
        var payloadRequest = jQuery.ajax({
            url: payloadUrl,
            method: "GET",
            dataType: "json"
        }), 
        prefsRequest = payloadRequest.then(function(payload) {                                        
            magic.runtime.map_context = jQuery.extend({}, payload, backendVars);
            magic.runtime.map_context.data = JSON.parse(payload.data.value);
            magic.runtime.map_context.capabilities = {};
            magic.runtime.map_context.userdata = magic.runtime.map_context.userdata ? JSON.parse(magic.runtime.map_context.userdata.data.value) : {};                    
            return(jQuery.ajax({
                url: magic.config.paths.baseurl + "/prefs/get",
                method: "GET",
                dataType: "json"
            }));
        });

        prefsRequest.done(function(prefs) {                    
            magic.runtime.map_context.preferencedata = prefs;
            new magic.classes.AppContainer();
        });
        prefsRequest.fail(function(xhr, status) {
            if (xhr.status == 401) {
                magic.modules.Common.showAlertModal("You are not authorised to view map " + backendVars.mapname, "error");
            } else {
                magic.modules.Common.showAlertModal("Failed to get payload and preferences for map " + backendVars.mapname, "error");
            }
        });
    }

    Dropzone.autoDiscover = false;
    jQuery(document).ready(function () {
        jQuery('[data-toggle="tooltip"]').tooltip({trigger: "hover"});
        /* For dynamic tooltips - http://stackoverflow.com/questions/9958825/how-do-i-bind-twitter-bootstrap-tooltips-to-dynamically-created-elements */
        jQuery("body").tooltip({selector: '[data-toggle="tooltip"]', trigger: "hover"});
        /* Long standing issue in Bootstrap, introduced in BAS CDN version - https://github.com/twbs/bootstrap/issues/16732
         * See answer by julesongithub, commented on 16 Dec 2015 */
        jQuery("body").on("hidden.bs.popover", function (e) {
            jQuery(e.target).data("bs.popover").inState.click = false;
        });
        fetchPayload();                
    });
    /*]]>*/    
</script>    