<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body th:fragment="layout">
        <!-- Navigation - theme specific -->
        <nav th:class="'navbar ' + ${navbarclass} + ' navbar-fixed-top'" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="${logourl}" target="_blank">
                    <img class="applogo" th:src="@{/static/images/} + ${logo}" width="50" height="50" alt="logo"></img>
                </a>
                <a class="navbar-brand" href="javascript:void(0)" th:text="${pagetitle}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" th:switch="${profile}">
                <ul class="nav navbar-left top-nav" th:case="ccamlrgis">
                    <li>
                        <a href="https://www.ccamlr.org" target="_blank">CCAMLR Home</a>
                    </li>
                    <li>
                        <a href="https://gis.ccamlr.org" target="_blank">CCAMLR GIS</a>
                    </li>                    
                </ul>
                <ul class="nav navbar-left top-nav" th:case="*">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="https://www.bas.ac.uk/team/operational-teams/operational-support/mapping-and-geographic-information/" target="_blank">Services</a>
                    </li>
                    <li>
                        <a href="https://www.bas.ac.uk/profile/darb1/" target="_blank">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-right top-nav" th:switch="${#httpServletRequest.remoteUser}">
                    <li id="user-menu" class="dropdown" th:case="null">
                        <!-- Guest menu -->
                        <a href="Javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i><span th:inline="text"> Not logged in</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="width: auto; min-width:140px">                                                    
                            <li>
                                <a id="log-in-user" href="Javascript:void(0)"><i class="fa fa-user"></i> Log In</a>
                            </li>                            
                        </ul>
                    </li>
                    <li id="user-menu" class="dropdown" th:case="*">
                        <!-- Logged in menu -->
                        <a href="Javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i><span th:inline="text"> Logged in as [[${#httpServletRequest.remoteUser}]]</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">                                
                            <li>
                                <a id="log-out-user" href="Javascript:void(0)"><i class="fa fa-power-off"></i> Log Out</a>                                
                            </li>
                        </ul>
                    </li>
                </ul>                    
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container -->                
        </nav>
    </body>
</html>
