<div th:fragment="assets" th:remove="tag">
    <link th:href="@{https://cdn.web.bas.ac.uk/magic/css/openlayers/4.2.0/ol.css}" rel="stylesheet"></link>        
    <link th:href="${theme} == '' ? @{'https://cdn.web.bas.ac.uk/magic/css/bootstrap/3.3.7/bootstrap.min.css'} : @{'https://cdn.web.bas.ac.uk/magic/css/bootstrap/3.3.7/bootstrap.min.' + ${theme} + '.css'}" rel="stylesheet"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/dropzone/4.3.0/dropzone.min.css" rel="stylesheet" type="text/css"></link>
    <link href="https://cdn.web.bas.ac.uk/magic/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
</div>