<div th:fragment="assets" th:remove="tag">
    <script src="https://cdn.web.bas.ac.uk/libs/jquery/3.3.1/jquery-3.3.1.min.js"></script>        
    <script src="https://cdn.web.bas.ac.uk/libs/bootstrap/3.3.7/js/bootstrap-3.3.7.min.js"></script>
    <script src="https://cdn.web.bas.ac.uk/magic/js/dropzone/4.3.0/dropzone.min.js"></script>
    <script src="https://cdn.web.bas.ac.uk/magic/js/bootbox/4.4.0/bootbox.min.js"></script>
    <script src="https://cdn.web.bas.ac.uk/magic/js/openlayers/4.2.0/ol.min.js"></script>
</div>