<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body th:fragment="layout">
        <!-- File publisher panel -->
        <div class="panel-heading" role="tab">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#file-publisher-panel">Publish GPX, KML, CSV and SHP (zipped) files to Geoserver</a>
            </h3>
        </div>
        <div id="file-publisher-panel" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <div th:switch="${#httpServletRequest.remoteUser}">
                    <div th:case="null">
                        <div class="alert alert-info">
                            <strong>
                                Publishing is not allowed for guest users
                            </strong>
                        </div>                        
                        <button id="login-publish-go" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Log in to access publishing dialog">Log in to publish files</button>
                    </div>
                    <div th:case="*">
                        <div class="alert alert-info">
                            <strong>
                                You are currently logged in as <span th:text="${#httpServletRequest.remoteUser}"></span>.  Drag and drop the files you would like to publish to Geoserver below, or
                                alternatively use the &quot;Add files&quot; button to select files from your computer
                            </strong>
                        </div>                        
                        <div id="publish-actions" class="row">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success publish-addfiles">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files to publish queue</span>
                                </span>
                                <button type="submit" class="btn btn-primary publish-start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Publish all</span>
                                </button>
                                <button type="reset" class="btn btn-warning publish-cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                            </div>
                            <div class="col-lg-5">
                                <!-- The global file processing state -->
                                <span class="fileupload-process">
                                    <div id="publish-total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div id="publish-files-dz" class="col-lg-12">
                            <!-- Upload area -->
                        </div>                        
                    </div>
                </div>                        
            </div>
        </div>
        <!-- End of file publisher panel -->
    </body>
</html>
