<!DOCTYPE html>
<html lang="en">
    <head th:fragment="layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" th:content="${pagetitle}"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/magic/favicons/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/magic/favicons/' + ${favicon}}"></link>
        <title th:text="${pagetitle}"></title>
        <div th:replace="console_fragments/cdncss :: assets"></div>
        <link th:href="@{'/static/dist/console.min.css'}" rel="stylesheet"></link>     
        <div th:replace="console_fragments/cdnjs :: assets"></div>
        <script th:src="@{'/static/dist/console.min.js'}"></script>
        <style type="text/css">
            body: {
                background-color: ${background}
            }
        </style>
    </head>
    <head th:fragment="debug_layout">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" th:content="${pagetitle}"></meta>
        <meta name="author" content="David Herbert, British Antarctic Survey"></meta>  
        <meta name="_csrf" th:content="${_csrf.token}"></meta>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"></meta>
        <link rel="icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/magic/favicons/' + ${favicon}}"></link>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" th:href="@{'https://cdn.web.bas.ac.uk/magic/favicons/' + ${favicon}}"></link>
        <title th:text="${pagetitle}"></title>
        <div th:replace="console_fragments/cdncss :: assets"></div>
        <link href="/static/css/nav.css" rel="stylesheet"></link>        
        <link href="/static/css/console.css" rel="stylesheet" type="text/css"></link>
        <div th:replace="console_fragments/cdnjs :: assets"></div>
        <script src="/static/js/init.js"></script>
        <script src="/static/js/modules/Endpoints.js"></script>
        <script src="/static/js/modules/Common.js"></script>
        <script src="/static/js/modules/GeoUtils.js"></script>
        <script src="/static/js/console/components/WebMapPanel.js"></script>
        <style type="text/css">
            body: {
                background-color: ${background}
            }
        </style>
    </head>
</html>
